<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-1014">
  <div class="cs-container cta-container">
    <div class="cs-left-section">
      <h2 class="cs-title">Ready to Elevate Your Business?</h2>
      <p class="cs-text sub-title">Take the next step in growing your small business with a professionally
         designed website, a fresh new look, or expert social media management.
      </p>
      <p class="cs-text">
        Fill out our quick Quote Form to get all the details on pricing, timelines,
         and how we can help. Have questions? We're here to assist!
      </p>
      <p class="cs-text">
        Call or text below to get started today.
      </p>
      <h3 class="cs-title number">780-263-8028</h3>
      <div class="contact">
        <a href="" class="cs-button-solid">
          Call
        </a>
        <a href="" class="cs-button-solid"> 
          Text
        </a>
      </div>
    </div>
    <div class="cs-right-section">
      <form class="cs-form" id="cs-form-1014" name="CTA Form" method="post" netlify>
        <h3 class="cs-h3">What service are you intersted in?</h3>
        <div class="checkbox-container">
          <div class="service-checkbox">
            <input type="checkbox" name="service1" id="service1" value="New Website/website redesign">
            <label class="cs-label" for="service1">New Website/Website Redesign</label>
          </div>
          <div class="service-checkbox">
            <input type="checkbox" name="service2" id="service2" value="I want to Upgrade from a pagebuilder (squarespace, wordpress,wix)">
            <label class="cs-label" for="service2">I want to Upgrade from a Pagebuilder</label>
          </div>
          <div class="service-checkbox">
            <input type="checkbox" name="service3" id="service3" value="Increase leads and sales">
            <label class="cs-label" for="service3">Increase Leads and Sales</label>
          </div>
          <div class="service-checkbox">
            <input type="checkbox" name="service4" id="service4" value="Social Media Management">
            <label class="cs-label" for="service4">Social Media Management</label>
          </div>
          <div class="service-checkbox">
            <input type="checkbox" name="service5" id="service5" value="Advanced SEO">
            <label class="cs-label" for="service5">Advanced SEO</label>
          </div>
        </div>
        <label class="cs-label">
            Name
            <input class="cs-input" required type="text" id="name-1388" name="name" placeholder="Name">
        </label>
        <label class="cs-label cs-email">
            Email
            <input class="cs-input" required type="email" id="email-1388" name="email" placeholder="Email">
        </label>
        <label class="cs-label cs-phone">
            Phone
            <input class="cs-input" required type="number" id="phone-1388" name="phone" placeholder="Phone">
        </label>
        <label class="cs-label">
            Message
            <textarea class="cs-input cs-textarea" required name="Message" id="message-1388" placeholder="Write message..."></textarea>
        </label>
        <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
      </form>
    </div>
  </div>


  <!-- <div class="cs-container cta-container">
    <div class="cs-left-section">
      <h2 class="cs-title">
        Elevate Your Brand with a Custom Website – Get Started Today!
      </h2>
      >
    </div>

    <div class="cs-button-box">
      <a href="tel:17802638028" class="cs-button-solid cta-btn"
        >Call for a Free Consultation</a
      >
      <a href="/contact/" class="cs-button-solid contact-btn"
        >Request Appointment</a
      >
    </div>

    <div class="cs-content">
      <span class="cs-header">Available Hours</span>
      <p class="cs-p">Monday-Friday: 9am-6pm</p>
      <p class="cs-p">Call or schedule a virtual appointment.</p>
    </div>
    <picture class="cs-background">
      <source media="(max-width: 600px)" srcset="/assets/images/cta.jpg" />
      <source media="(min-width: 601px)" srcset="/assets/images/cta.jpg" />
      <img
        aria-hidden="true"
        loading="lazy"
        decoding="async"
        src="/assets/images/cta.jpg"
        alt="breakfast"
        width="275"
        height="132"
      />
    </picture>
  </div> -->
</section>
