<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-1014">
    <div class="cs-container">
        <div class="cs-left-section">
            <h2 class="cs-title">Elevate Your Brand with a Custom Website – Get Started Today!</h2>
           <div class="cs-button-box">
            <a href="tel:17802638028" class="cs-button-solid">Call</a>
            <a href="/typecontact" class="cs-button-solid">Request Appointment</a></div>> 
           
            
        </div>
        
        <div class="cs-content">
            <span class="cs-header">Available Hours</span>
            <p class="cs-p"> 
                Monday-Friday: 9am-6pm
            </p>
            <p class="cs-p">
                Call or schedule a virtual appointment.
            </p>
        </div>
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="/assets/images/cta.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cta.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/cta.jpg"alt="breakfast" width="275" height="132">
        </picture>
        
    </div>
    
</section>

<!-- ============================================ -->
<!--                 Shopify CTA                  -->
<!-- ============================================ -->

<section id="cta-403">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Sell With Shopify</span>
            <h2 class="cs-title">Looking to Start Selling Online?</h2>
            <p class="cs-text">
                Kickstart your eCommerce journey with a platform trusted by millions. Create, customize, and manage your online store effortlessly. Start now with Shopify and grow your business!
            </p>
            <a href="https://shopify.pxf.io/c/5804036/1061744/13624" class="cs-button-solid">Get Started</a>
            <div class="cs-tooltip">Affiliate Disclosure
                <span class="cs-tooltiptext">Some of the links on this website are affiliate links, meaning, at no additional cost to you, I may earn a commission if you click through and make a purchase. I only recommend products and services that I trust and believe will add value to my readers. Your support by using these links helps me to continue providing valuable content.</span>
              </div>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/src/assets/images/blog/shopify.jpg">
        <source media="(min-width: 601px)" srcset="/src/assets/images/blog/shopify.jpg">
        <img loading="lazy" decoding="async" src="/src/assets/images/blog/shopify.jpg" alt="cleaner" width="1920" height="660" aria-hidden="true">
    </picture>
</section>