<!-- ============================================ -->
<!--                    Blog                      -->
<!-- ============================================ -->

<section id="blog-1289" class="below-article">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Latest News</span>
                <h2 class="cs-title">Learn more about the web development space with these articles.</h2>
            </div>
        </div>      
        <ul class="cs-card-group">
            {%- for post in collections.latest -%}
            <li class="cs-item">
                <a href="{{ post.url }}" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="{{ post.data.image }}">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="{{ post.data.image }}">
                        <img loading="lazy" decoding="async" src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" width="270" height="200">
                    </picture>
                    <span class="cs-date">{{ post.date | postDate }}</span>
                    <h3 class="cs-h3">{{ post.data.title }}</h3>
                </a>
            </li>
            {%- endfor -%}
        </ul>
    </div>
</section>
                                