@import 'tailwindcss' important;
@plugin '@toolwind/corner-shape';

@theme {
 --font-roboto: "Roboto", sans-serif;

  --color-body-light: var(--bodyTextColorWhite);
  --color-body-dark: var(--bodyTextColor);
  --color-primary: var(--primary);
  --color-primary-light:var(--primaryLight);
  --color-header: var(--headerColor);


  --text-topper: clamp(var(--text-2xl), 1.5vw, 1.75rem);
  --text-hero-heading: clamp(2.625rem , 1.5vw + 1rem, 4.75rem);
  --text-title: clamp(2.625rem , 3vw + 1rem, 4.25rem);

  --spacing-quote: clamp(12rem, 25.95vw, 18rem);
}

.bg-grid {
  background-image:
    linear-gradient(
      to right,
      oklch(0.65 0.02 248.57 / 0.08) 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      oklch(0.65 0.02 248.57 / 0.08) 1px,
      transparent 1px
    );
  background-size: 50px 50px;
  position: relative;
}

.bg-grid::before {
  content: '';
  position: fixed;
  inset: 0;
  background: radial-gradient(
    ellipse at center,
    transparent 0%,
    transparent 40%,
    var(--dc-bg) 100%
  );
  pointer-events: none;
  z-index: 0;
}
