{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/blog.css">
{% endblock %}

{% block body %}
      <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
    <div class="cs-container">
        <span class="cs-int-title">Blog</span>
        <div class="cs-breadcrumbs">
            <a href="/index" class="cs-link">Home</a>
            <a href="/blog" class="cs-link cs-active">Blog</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banner.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banner.jpg">
        <img decoding="async" src="/assets/images/banner.jpg" alt="mechanic" width="1280" height="568" aria-hidden="true">
    </picture>
</div>



    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <div class="blog-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content">
            <!-- ============================================ -->
            <!--                  Blog Article                -->
            <!-- ============================================ -->

            <article class="blog-article">
                <!--Main Article Image-->
                <picture class="blog-mainImage">
                    <img src="{{ image }}" alt="{{ imageAlt }}" width="795" height="400" decoding="async"/>
                </picture>

                <!--Article Info-->
                <div class="article-group">
                    <h1 class="blog-h1">{{ title }}</h1>
                    <div class="blog-authorGroup">
                        <!--Author Image-->
                        <picture class="blog-author-img">
                            <img
                            src="/assets/svgs/profile.svg"
                            alt="house"
                            width="32"
                            height="32"
                            decoding="async">
                        </picture>
                        <span class="blog-author">{{ author }}</span>
                        <span aria-hidden="true" class="blog-dot"></span>
                        <!--Blog Date-->
                        <span class="blog-date">{{ date | postDate }}</span>
                    </div>
                </div>
                <section id="blog-content">
                    {{ content | safe }}
                </section>
            </article>
        </div>
        <!-- End .main-content -->

        {% include 'components/featured-post.html' %}
    </div>

    {% include 'components/featured-post-after-main-content.html' %}

    <!-- ============================================ -->
    <!--                 Shopify CTA                  -->
    <!-- ============================================ -->

    <section id="cta-403" class="cs-image-only">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Ready to Launch Your Online Store?</span>
                <h2 class="cs-title">Take your business online with ease! Get started with a powerful eCommerce platform that’s built for growth. Set up, customize, and manage your store—all in one place.</h2>
                <p class="cs-text">
                    We trust SiteGround for our own site’s hosting, and it’s been rock-solid! Get fast, secure, and dependable hosting for your website. Start with SiteGround and experience top-notch performance and support.
                </p>
                <div class="cs-tooltip cs-text">Affiliate Disclosure
                    <span class="cs-tooltiptext">Some of the links on this website are affiliate links, meaning, at no additional cost to you, I may earn a commission if you click through and make a purchase. I only recommend products and services that I trust and believe will add value to my readers. Your support by using these links helps me to continue providing valuable content.</span>
                </div>
            </div>
            <a href="https://shopify.pxf.io/c/5804036/1499945/13624" target="_blank" id="1499945" class="cs-small-device-only"><img src="../../assets/images/shopify-ad-mobile.jpg" border="0" alt="" width="320" height="480"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5804036/1499945/13624" style="position:absolute;visibility:hidden;" border="0" />
            <a href="https://shopify.pxf.io/c/5804036/1499950/13624" target="_blank" id="1499950" class="cs-medium-device-only"><img src="../../assets/images/shopify-ad-tablet.jpg" border="0" alt="" width="480" height="320"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5804036/1499950/13624" style="position:absolute;visibility:hidden;" border="0" />
            <a href="https://shopify.pxf.io/c/5804036/1499972/13624" target="_blank" id="1499972" class="cs-large-device-only"><img src="../../assets/images/shopify-ad.jpg" border="0" alt="" width="1200" height="628"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5804036/1499972/13624" style="position:absolute;visibility:hidden;" border="0" />
        </div>
    </section>

    {% endblock %}