---
title: 'About | Bespoke Web Design'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}


   <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
        <div class="cs-breadcrumbs">
            <a href="/index" class="cs-link">Home</a>
            <a href="/about" class="cs-link cs-active">About Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banner.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banner.jpg">
        <img decoding="async" src="/assets/images/banner.jpg" alt="mechanic" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1014">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/about2.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/about2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/about2.jpg" alt="breakfast" width="522" height="581" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="/assets/images/about.png">
                <source media="(min-width: 601px)" srcset="/assets/images/about.png">
                <img loading="lazy" decoding="async" src="/assets/images/about.png" alt="breakfast" width="414" height="400" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">About Bespoke Web Design</h2>
            <p class="cs-text">
                Our team is based in Edmonton, AB, Canada. As a local, I understand the needs of small businesses and see a market gap for custom, scalable, and affordable websites. We specialize in creating bespoke web solutions tailored to each business's unique requirements, ensuring a strong and growing online presence. Our custom websites not only enhance your brand's visibility but also drive engagement and conversions. From simple 5-page sites to complex eCommerce platforms, we deliver high-quality, professional web design and development services that provide real value to our clients.            </p>
            <p class="cs-text">
            </p>
            <div class="cs-quote">
                <span class="cs-quote-text">
                    "Our mission is to create affordable websites that help small businesses achieve their goals."             </span>
                <span class="cs-name">Charles Magno</span>
                <span class="cs-job">CEO-Founder</span>
                <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=38970&format=png&color=000000" alt="gavel" width="136" height="77">
            </div>
        </div>
    </div>
</section>
          

                                
{% include 'components/cta.html' %}

{% endblock %}