---
title: 'About | Bespoke Web Design'
description: 'Professional web design for small businesses in Edmonton. Affordable and tailored web solutions to help your business grow.'
preloadImg: '/assets/images/bespokelogonotext.png'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
<!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZMYC44ZRHF"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-ZMYC44ZRHF'); </script>
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}


   <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
        <div class="cs-breadcrumbs">
            <a href="/index" class="cs-link">Home</a>
            <a href="/about" class="cs-link cs-active">About Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banner.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banner.jpg">
        <img decoding="async" src="/assets/images/banner.jpg" alt="mechanic" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1014">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/about2.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/about2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/about2.jpg" alt="breakfast" width="522" height="581" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="/assets/images/about.png">
                <source media="(min-width: 601px)" srcset="/assets/images/about.png">
                <img loading="lazy" decoding="async" src="/assets/images/about.png" alt="breakfast" width="414" height="400" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">Bespoke Web Design</h2>
            <p class="cs-text">
                Based in Edmonton, AB, Canada, our team is committed to helping local small
businesses succeed with great web solutions. As a local entrepreneur, I’ve conducted
extensive market research and identified a crucial need: affordable, custom web
solutions right here in our community.</p>
<p class="cs-text">
Many businesses struggle with the choice between costly high-end agencies or cheap,
unreliable websites that often break and require expensive upgrades.</p>
<p class="cs-text">
    Our goal is to offer a better option. We create custom, high-quality websites that won’t
break the bank. Each site is tailored to your unique needs, helping you stand out, attract
more customers, and grow your business.</p>
    <p class="cs-text">
        To maintain exceptional quality, we’ll start by working with a select few clients. As we
grow, we’ll expand our client base and add more services, all while staying true to our
commitment to delivering real value and a strong online presence for your business.</p>
            
            
            <div class="cs-quote">
                <span class="cs-quote-text">
                    "Our mission is to create affordable websites that help small businesses achieve their goals."             </span>
                <span class="cs-name">Charles Magno</span>
                <span class="cs-job">CEO-Founder</span>
                <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=38970&format=png&color=000000" alt="gavel" width="136" height="77">
            </div>
        </div>
    </div>
</section>
          




<!-- ============================================ -->
<!--                 Why Choose Us                -->
<!-- ============================================ -->

<section id="why-choose-1904">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Why Choose Us</span>
            <h2 class="cs-title">Bespoke</h2>
            <p>At Bespoke Web Design, we’re committed to delivering high-quality, affordable websites tailored for small businesses and startups in Edmonton. </p>
<br>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/about.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/about.png">
                <img loading="lazy" decoding="async" src="/assets/images/about.png" alt="body builder" width="562" height="568">
            </picture>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/white-house.svg" alt="white house" width="32" height="32">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Local Expertise</h3>
                    <p class="cs-item-text">
                        We understand the unique needs of businesses in Edmonton and are here to support our local community.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=dtvMlkUgj119&format=png&color=FFFFFF" alt="white layers" width="32" height="32">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Affordable Excellence</h3>
                    <p class="cs-item-text">
                        Get top-quality websites at a fraction of the cost of larger agencies.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=11648&format=png&color=FFFFFF" alt="white hourglass" width="32" height="32">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Selective Service</h3>
                    <p class="cs-item-text">
                        We focus on a few clients at a time, ensuring personalized attention and exceptional results.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=112512&format=png&color=FFFFFF" alt="white layers" width="32" height="32">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Value-Driven</h3>
                    <p class="cs-item-text">
                        We’re not in a rush; our goal is to create lasting value for our local business community, helping you achieve your goals with expertise and care.                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
                                

















                   

                                
{% include 'components/cta.html' %}
{% include 'components/chatbot.html' %}

{% endblock %}