---
title: 'Blog | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'blog/'
eleventyNavigation:
    key: Blog
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/blog.css">
{% endblock %}

{% block body %}
   <!-- ============================================ -->
<!--                 Recent Posts                 -->
<!-- ============================================ -->

<section id="blog-1347">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Blog</span>
            <h2 class="cs-title">Know more tips & techniques!</h2>
            <p class="cs-text">
                
                
                Discover essential tips and innovative techniques to enhance your skills in [your field]. From practical advice to advanced strategies, elevate your projects and achieve outstanding results. Let's innovate together!            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-link" href="/">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/luca-bravo-XJXWbfSo2f0-unsplash.jpg">
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/luca-bravo-XJXWbfSo2f0-unsplash.jpg">
                        <img decoding="async"
                            src="/assets/images/luca-bravo-XJXWbfSo2f0-unsplash.jpg"
                            alt="agency" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-item-text">
                        <h3 class="cs-h3">
                            Are hand coded websites better than WordPress?
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                        alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </h3>
                        <div class="cs-info">
                            <span class="cs-date">
                                <img class="cs-date-icon" decoding="async"
                                        src="https://img.icons8.com/?size=100&id=23&format=png&color=32ADCC"
                                        alt="calendar" width="413" height="374" aria-hidden="true">
                                30 April, 2024
                            </span>
                            <span class="cs-category">
                                Technology
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="/">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/responsive.webp">
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/responsive.webp">
                        <img decoding="async"
                            src="/assets/images/responsive.webp"
                            alt="agency" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-item-text">
                        <h3 class="cs-h3">
                            How to build responsive websites from scratch
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                        alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </h3>
                        <div class="cs-info">
                            <span class="cs-date">
                                <img class="cs-date-icon" decoding="async"
                                        src="https://img.icons8.com/?size=100&id=23&format=png&color=32ADCC"
                                        alt="calendar" width="413" height="374" aria-hidden="true">
                                10 January, 2024
                            </span>
                            <span class="cs-category">
                                Technology
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="/">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/darkmode.webp">
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/darkmode.webp">
                        <img decoding="async"
                            src="/assets/images/darkmode.webp"
                            alt="agency" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-item-text">
                        <h3 class="cs-h3">
                            How to add Dark Mode to a custom website
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                        alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </h3>
                        <div class="cs-info">
                            <span class="cs-date">
                                <img class="cs-date-icon" decoding="async"
                                        src="https://img.icons8.com/?size=100&id=23&format=png&color=32ADCC"
                                        alt="calendar" width="413" height="374" aria-hidden="true">
                                18 June, 2024
                            </span>
                            <span class="cs-category">
                                Technology
                            </span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>
 

{% include 'components/cta.html' %}
   
{% endblock %}