---
title: "Blog | Bespoke Web Design"
description: "Get superior results with our premium, 100% hand-coded websites. Improve your brand and convert visitors into leads. Starting at just $149/month, our custom sites offer unmatched quality and ongoing support. Explore our services today!"
preloadImg: "/assets/images/bespokelogo1234.png"
permalink: "blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}"
image: /assets/images/ogimage2.png
eleventyNavigation:
  key: Blog
  order: 500
pagination:
  data: collections.post
  size: 2
  reverse: true
  alias: posts
---

{% extends "layouts/base.html" %} {% block head %}
<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-ZMYC44ZRHF"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-ZMYC44ZRHF");
</script>
<link rel="stylesheet" href="/assets/css/blog.css" />
<link rel="stylesheet" href="/assets/css/pagination.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
  <div class="cs-container">
    <span class="cs-int-title">Blog</span>
    <div class="cs-breadcrumbs">
      <a href="/index" class="cs-link">Home</a>
      <a href="/blog" class="cs-link cs-active">Blog</a>
    </div>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source media="(max-width: 600px)" srcset="/assets/images/banner.jpg" />
    <!--Tablet and above Image-->
    <source media="(min-width: 601px)" srcset="/assets/images/banner.jpg" />
    <img
      decoding="async"
      src="/assets/images/banner.jpg"
      alt="mechanic"
      width="1280"
      height="568"
      aria-hidden="true"
    />
  </picture>
</div>

<!-- ============================================ -->
<!--             Call to Action             -->
<!-- ============================================ -->

<section id="cta">
  <picture>
    <source media="(max-width: 600px)" srcset="/assets/images/cta-bg.webp">
    <source media="(min-width: 601px)" srcset="/assets/images/cta-bg.webp">
    <img aria-hidden="true" decoding="async" src="/assets/images/cta-bg.webp" alt="cta bg"
        loading="lazy" width="2500" height="1667">
</picture>
  <div class="container">
      <h2 class="title">
        🚀 Launch Your Website with 20% OFF!
        <br />
        For a limited time, <br> get a fully custom site at a special discount!
      </h2>
      <p>
        📩 Send "NEWBUSINESS" to WhatsApp or Call Now!
      </p>
      <a href="https://wa.me/+17802638028" class="cs-button-solid">Get Started Today!</a>
  </div>


</section>


<section id="pricing-1690">
  <div class="cs-container">
    <div id="cs-content-1801">
      <div class="cs-flex">
        <span class="cs-topper">Latest News</span>
        <h1 class="cs-title">Stay Updated on Business Tech & Web Design</h1>
        <p class="cs-text">
          At Bespoke Web Design, we create custom websites tailored to your
          business goals. Check out our blog for the latest insights on web
          design, business tech, and more!
        </p>
      </div>
    </div>

    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <div class="blog-container main-content-wrapper blog-preview">
      <div class="main-content">
        <!-- ============================================ -->
        <!--                 Blog Articles                -->
        <!-- ============================================ -->

        {% if posts | length == 0 %}
          <h1>No Recent Posts</h1>
        {% else %}
          {%- for post in posts | reverse -%}
              <article class="recent-articles">
                  <!--Main Article Image-->
                  <picture class="blog-mainImage">
                      <img
                      src="{{ post.data.image }}"
                      alt="{{ post.data.imageAlt }}"
                      width="795"
                      height="400"
                      decoding="async" />
                  </picture>
                  <!--Article Info-->
                  <div class="article-group">
                      <div class="blog-authorGroup">
                          <!--Author Image-->
                          <picture class="blog-author-img">
                              <img
                              src="{{ client.domain }}/assets/images/main_logo.png"
                              alt="Team KMS"
                              width="32"
                              height="32"
                              decoding="async" />
                          </picture>
                          <span class="blog-author">{{ post.data.author }}</span>
                          <span aria-hidden="true" class="blog-dot"></span>
                          <!--Blog Date-->
                          <span class="blog-date">{{ post.date | formatDate }}</span>
                      </div>
                      <h2 class="blog-h1">
                          {{ post.data.title }}
                      </h2>
                      <p class="blog-desc">
                          {{ post.data.description }}
                      </p>
                      <a href="{{ post.url }}" class="blog-link">Continue Reading</a>
                  </div>
              </article>
          {%- endfor -%}
        {% endif %}

        <div></div>


        {% if posts | length == 0 %}
        <h1>No Recent Posts</h1>
        {% else %} {%- for post in posts -%}
        <article class="recent-articles">
          <!--Main Article Image-->
          <picture class="blog-mainImage">
            <img
              src="{{ post.data.image }}"
              alt="{{ post.data.imageAlt }}"
              width="795"
              height="400"
              decoding="async"
            />
          </picture>
          <!--Article Info-->
          <div class="article-group">
            <div class="blog-authorGroup">
              <!--Author Image-->
              <picture class="blog-author-img">
                <img
                  src="/assets/svgs/profile.svg"
                  alt="house"
                  width="32"
                  height="32"
                  decoding="async"
                />
              </picture>
              <span class="blog-author">{{ post.data.author }}</span>
              {% set formattedDate = post.date | postDate %} {% set dateParts =
              formattedDate.split(", ") %}
              <div class="blog-date">
                <span class="date-part date-part--day">{{ dateParts[0] }}</span>
                <span class="date-part date-part--year"
                  >{{ dateParts[1] }}</span
                >
              </div>
            </div>
            <h2 class="blog-h1">{{ post.data.title }}</h2>
            <p class="blog-desc">{{ post.data.description }}</p>
            <a href="{{ post.url }}" class="blog-link">Continue Reading</a>
          </div>
        </article>
        {%- endfor -%} {% endif %}
      </div>
    </div>

    <!-- Pagination Navigation -->
    {% if pagination.pages.length > 1 %}
    <nav class="pagination" aria-label="Pagination Navigation">
      <div class="pagination-container">
        {% if pagination.href.previous %}
        <a
          href="{{ pagination.href.previous }}"
          class="pagination-button prev"
          aria-label="Previous page"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polyline points="15 18 9 12 15 6"></polyline>
          </svg>
          <span>Previous</span>
        </a>
        {% else %}
        <span class="pagination-button prev disabled">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polyline points="15 18 9 12 15 6"></polyline>
          </svg>
          <span>Previous</span>
        </span>
        {% endif %}

        <div class="pagination-numbers">
          {% for pageEntry in pagination.pages %} {% set pageNumber = loop.index
          %} {% if loop.index0 == pagination.pageNumber %}
          <span class="pagination-number current" aria-current="page"
            >{{ pageNumber }}</span
          >
          {% else %}
          <a
            class="pagination-number"
            href="{{ pagination.hrefs[loop.index0] }}"
            >{{ pageNumber }}</a
          >
          {% endif %} {% endfor %}
        </div>

        {% if pagination.href.next %}
        <a
          href="{{ pagination.href.next }}"
          class="pagination-button next"
          aria-label="Next page"
        >
          <span>Next</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polyline points="9 18 15 12 9 6"></polyline>
          </svg>
        </a>
        {% else %}
        <span class="pagination-button next disabled">
          <span>Next</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polyline points="9 18 15 12 9 6"></polyline>
          </svg>
        </span>
        {% endif %}
      </div>
    </nav>
    {% endif %} {% include 'components/cta.html' %} {% include
    'components/chatbot.html' %} {% endblock %}
  </div>
</section>


<!-- ============================================ -->
<!--             Call to Action             -->
<!-- ============================================ -->

<section id="cta">
  <picture>
    <source media="(max-width: 600px)" srcset="/assets/images/cta-bg.webp">
    <source media="(min-width: 601px)" srcset="/assets/images/cta-bg.webp">
    <img aria-hidden="true" decoding="async" src="/assets/images/cta-bg.webp" alt="cta bg"
        loading="lazy" width="2500" height="1667">
</picture>
  <div class="container">
      <h2 class="title">
        New business in Edmonton?

          <br />
          🎉 Get 20% OFF your first website!
      </h2>
      <p>
        📩 Message us with "NEWBUSINESS" on WhatsApp or Call Now!
      </p>
      <a href="https://wa.me/+17802638028" class="cs-button-solid">Claim your 20% discount!</a>
  </div>


</section>
