---
title: 'Contact | Bespoke Web Design'
description: 'Get superior results with our premium, 100% hand-coded websites. Improve your brand and convert visitors into leads. Starting at just $149/month, our custom sites offer unmatched quality and ongoing support. Explore our services today!'
preloadImg: '/assets/images/bespokelogo1234.png'
permalink: 'contact/'
image: /assets/images/ogimage2.png
eleventyNavigation:
    key: Contact Us
    order: 600
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
<!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZMYC44ZRHF"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-ZMYC44ZRHF'); </script>
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}



   <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
    <div class="cs-container">
        <span class="cs-int-title">Contact Us</span>
        <div class="cs-breadcrumbs">
            <a href="/index" class="cs-link">Home</a>
            <a href="/contact" class="cs-link cs-active">Contact Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banner.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banner.jpg">
        <img decoding="async" src="/assets/images/banner.jpg" alt="mechanic" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

    <!-- ============================================ -->
    <!--                   Contact                    -->
    <!-- ============================================ -->

    <section id="contact-1333">
        <div class="cs-container">
            <!--Form-->
            <form class="cs-form" id="cs-form-1333" name="Contact Form" action="https://api.web3forms.com/submit" method="post">
                <div class="cs-content">
                    <input type="hidden" name="access_key" value="fc78a61d-6f0c-4ba6-97d8-12b0cb01f7f2">
                    <span class="cs-topper">Contact Us</span>
                    <h2 class="cs-title">Make Appointment</h2>
                </div>
                    <input class="cs-input" required type="text" id="name-1333" name="name" placeholder="Name">
                    <input class="cs-input" required type="email" id="email-1333" name="email" placeholder="Email">
                    <input class="cs-input" required type="number" id="phone-1333" name="phone" placeholder="Phone">
                    <select class="cs-input" required id="package-1333" name="phone">
                        <option value="">--Please Choose an Option--</option>
                        <option value="standard">Standard Package- $149/month</option>
                        <option value="brand">Brand & Identity Package - $200/month</option>
                        <option value="custom">Custom Request</option>
                    </select>
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-1333" placeholder="Write message..."></textarea>
                <button class="cs-button-solid cs-submit" type="submit">Schedule Appointment</button>
            </form>


            
            <div class="cs-content">
                <span class="cs-topper">Asked Questions</span>
                <h2 class="cs-title">Frequently Asked Questions</h2>
                <ul class="cs-faq-group">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item active">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What services do you offer?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            We offer a comprehensive range of services including web design, web development, hosting, and domain registration. Our team creates visually appealing and functional websites, provides robust development solutions, and manages hosting and domain services to ensure your website runs smoothly.</p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What is the difference between web design and web development?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Web design focuses on the visual aspects of a website, including layout, colors, and typography. It’s about creating an engaging and user-friendly interface. Web development, on the other hand, involves building the functionality and features of the website, such as coding, database management, and integrating APIs to make the site operational.                    </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What is included in your web design service?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Our web design service includes creating a custom design tailored to your brand, developing a user-friendly interface, and ensuring mobile responsiveness. We also include revisions based on your feedback to ensure the final product meets your expectations.                    </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What is web hosting and why do I need it?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Web hosting is a service that allows your website to be accessible on the internet. It involves storing your website files on a server that is connected to the web. Hosting is essential because without it, your website cannot be viewed by users.                    </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How do I get started with your services?                        </span>
                        </button>
                        <p class="cs-item-p">
                            Getting started is easy! Contact us through our website or give us a call to discuss your project requirements. We’ll schedule a consultation to understand your needs and provide you with a tailored proposal.                    </p>
                    </li>
                </ul>
            </div>

        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Pricing                     -->
    <!-- ============================================ -->

    <section id="pricing-357">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Pricing</span>
                <h2 class="cs-title">Packages Include</h2><br><br>
            </div>
            <ul class="cs-card-group">
                <!-- Option 1 -->
                <li class="cs-item cs-best">
                    <h3 class="cs-h3">STANDARD PACKAGE</h3>
                    <p class="cs-item-text">
                        5 PAGES
                    </p>
                    <div class="cs-option-group">
                        <span class="cs-price">$149<span class="cs-small">/month</span></span>
                    </div>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                            <span><b>Custom 5-page Business Website</b>: A tailor-made website designed to showcase your business.</span>
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                            <span><b>Responsive Design</b>: Works seamlessly on mobile and desktop devices.</span>
                        </li>
                        <li class="cs-li cs-disabled">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                            <span><b>Hosting Included</b>: Secure and reliable hosting service.</span>
                        </li>
                        <li class="cs-li cs-disabled">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                            <span><b>Support and Maintenance</b>: Ongoing support to keep your website updated.</span>
                        </li>
                    </ul>
                    <a href="/typecontact" class="cs-button-solid">Get Started</a>
                </li>
                <!-- Option 2 -->
                <li class="cs-item cs-popular">
                    <h3 class="cs-h3">BRAND & IDENTITY PACKAGE</h3>
                    <p class="cs-item-text">
                    
                    </p>
                    <div class="cs-option-group">
                        <span class="cs-price">$200<span class="cs-small">/month</span></span>
                    </div>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                            All features from the Standard Package
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                            <span><b>Brand & Identity</b>: Professional designs including logos, business cards, and social media covers.</span>
                        </li>
                    </ul>
                    <a href="/typecontact" class="cs-button-solid">Get Started</a>
                </li>
            </ul>
        </div>
    </section>

<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-1833">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Our Members Testimonials</h2>
        </div>
        <div class="cs-flex-group">
            <div class="cs-review-group">
                <!--Stars-->
                <img class="cs-stars" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/stars-gym.svg" alt="quotes" width="97" height="80" aria-hidden="true">
                <p class="cs-review-text">
                    "My husband and I have been on the market for webdesign for quite awhile before knowing Charles of BeSpoke. We made the right choice in signing up with him! Our small business offers a variety of services and we wanted a website that will showcase it all in a straightforward yet sophisticated fashion. One more good thing to note is that, Charles is responsive and delivers on time. 5 stars all the way!"
                </p>
                <span class="cs-name">Michelle Superales</span>
                <span class="cs-job">Waffle House Bar & Grill</span>
                <!--Quote-->
                <img class="cs-quote" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-quotes.svg" alt="quotes" width="97" height="80" aria-hidden="true">
            </div>
        </div>
    </div>
    <!--Texture Graphic-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 1023px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture-m.png">
        <!--Tablet and above Image-->
        <source media="(min-width: 1024px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture.png">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture.png" alt="dotted texture" width="1920" height="600">
    </picture>
</section>
                                


{% include 'components/chatbot.html' %}
                                
{% endblock %}