---
title: 'Portfolio | Bespoke Web Design'
description: 'Professional web design for small businesses in Edmonton. Affordable and tailored web solutions to help your business grow.'
preloadImg: '/assets/images/bespokelogo1234.png'
permalink: 'portfolio/'
image: /assets/images/blog/ogimage2.png
eleventyNavigation:
    key: Portfolio
    order: 2
---

{% extends "layouts/base.html" %}

{% block head %}
<!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZMYC44ZRHF"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-ZMYC44ZRHF'); </script>
    <link rel="stylesheet" href="/assets/css/portfolio.css">
{% endblock %}

{% block body %}


   <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
    <div class="cs-container">
        <span class="cs-int-title">Portfolio</span>
        <div class="cs-breadcrumbs">
            <a href="/index" class="cs-link">Home</a>
            <a href="/portfolio" class="cs-link cs-active">Portfolio</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banner.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banner.jpg">
        <img decoding="async" src="/assets/images/banner.jpg" alt="mechanic" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
                                
  
<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1374">
    <div class="cs-container">
        <div id="cs-content-832">
            <div class="cs-flex-group">
                <span class="cs-topper">Portfolio</span>
                <h2 class="cs-title">Explore Our Portfolio</h2>
            </div>
            <p class="cs-text">
                We’re excited to have completed two projects and currently have one in progress, and our portfolio is expanding! We can’t wait to share more of our work with you. As we grow, we warmly invite clients across North America to reach out and explore how our tailored web solutions can help elevate your business.
            </p>
        </div>                             
        <ul class="cs-image-group">
            <!-- Card 1 -->
            <li class="cs-item">
                <a href="https://wafflehousesherwood.ca/" class="cs-link" target="_blank">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                                srcset="/assets/images/waffle.png">
                        <source media="(min-width: 601px)"
                                srcset="/assets/images/waffle.png">
                        <img decoding="async"
                                src="/assets/images/waffle.png"
                                alt="waffle site" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Waffle House Bar & Grill</h3>
                            <span class="cs-desc">Sherwood Park’s yummy waffle and steak bar grill</span>
                        </div>
                        <picture class="cs-icon-wrapper">
                            <img class="cs-icon" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                            alt="arrow" width="413" height="374" aria-hidden="true">
                        </picture>
                    </div>
                    <button class="cs-button-solid">Visit Website</button>
                </a>
            </li>
            <!-- Card 2 -->
            <li class="cs-item" target="_blank">
                <a href="https://montanoplumbing.ca/" class="cs-link" target="_blank">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                                srcset="/assets/images/montana.png">
                        <source media="(min-width: 601px)"
                                srcset="/assets/images/montana.png">
                        <img decoding="async"
                                src="/assets/images/montana.png"
                                alt="montana site" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Montano Plumbing & Contracting LTD.</h3>
                            <span class="cs-desc">Trusted and Proven Plumbing & Renovation for Edmonton.</span>
                        </div>
                        <picture class="cs-icon-wrapper">
                            <img class="cs-icon" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                            alt="arrow" width="413" height="374" aria-hidden="true">
                        </picture>
                    </div>
                    <button class="cs-button-solid">Visit Website</button>
                </a>
            </li>
            <!-- Card 3 -->
            <li class="cs-item">
                <a href="https://yegbusiness.org/" class="cs-link" target="_blank">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                                srcset="/assets/images/yegbusiness.webp">
                        <source media="(min-width: 601px)"
                                srcset="/assets/images/yegbusiness.webp">
                        <img decoding="async"
                                src="/assets/images/yegbusiness.webp"
                                alt="finance" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">YEG Business</h3>
                            <span class="cs-desc">A modern, premium business listing platform designed to connect Edmonton businesses with their communities.</span>
                        </div>
                        <picture class="cs-icon-wrapper">
                            <img class="cs-icon" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                            alt="arrow" width="413" height="374" aria-hidden="true">
                        </picture>
                    </div>
                    <button class="cs-button-solid">Visit Website</button>
                </a>
            </li>
        </ul>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>
                 

    {% include 'components/cta.html' %}
    {% include 'components/chatbot.html' %}

{% endblock %}