---
title: 'Portfolio | Bespoke Web Design'
description: 'Professional web design for small businesses in Edmonton. Affordable and tailored web solutions to help your business grow.'
preloadImg: '/assets/images/bespokelogo1234.png'
permalink: 'portfolio/'
eleventyNavigation:
    key: Portfolio
    order: 2
---

{% extends "layouts/base.html" %}

{% block head %}
<!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZMYC44ZRHF"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-ZMYC44ZRHF'); </script>
    <link rel="stylesheet" href="/assets/css/portfolio.css">
{% endblock %}

{% block body %}


   <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
    <div class="cs-container">
        <span class="cs-int-title">Portfolio</span>
        <div class="cs-breadcrumbs">
            <a href="/index" class="cs-link">Home</a>
            <a href="/portfolio" class="cs-link cs-active">Portfolio</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banner.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banner.jpg">
        <img decoding="async" src="/assets/images/banner.jpg" alt="mechanic" width="1280" height="568" aria-hidden="true">
    </picture>
</div>





               



<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1329">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">PORTFOLIO</span>
                <h2 class="cs-title">Explore our Portfolio</h2>
            </div>
            <p class="cs-text">
                We're currently collaborating with some of Edmonton's trusted brands to deliver innovative web solutions. Stay tuned for our full portfolio, coming soon, as we continue to expand and cater to more clients            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">01</span>
                    <h3 class="cs-h3">Waffle House Bar & Grill</h3>
                    <p class="cs-item-text">
                        Sherwood Park’s yummy waffle and steak bar grill
                    </p>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/waffle.png">
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/waffle.png">
                    <img decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/finance-screen.png"
                            alt="finance" width="413" height="374" aria-hidden="true">
                </picture>
                <!--On Hover Image-->
                <img class="cs-arrow" loading="lazy" decoding="async" src="/assets/images/hover.svg" alt="arrow" width="412" height="249" aria-hidden="true">
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">02</span>
                    <h3 class="cs-h3">Montano Plumbing & Contracting LTD.</h3>
                    <p class="cs-item-text">
                        Trusted and Proven Plumbing & Renovation for Edmonton.
                    </p>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/montana.png">
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/montana.png">
                    <img decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/finance-reading.png"
                            alt="finance" width="413" height="374" aria-hidden="true">
                </picture>
                <!--On Hover Image-->
                <img class="cs-arrow" loading="lazy" decoding="async" src="/assets/images/hover.svg" alt="arrow" width="412" height="249" aria-hidden="true">
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">03</span>
                    <h3 class="cs-h3">G-MACSTEAM LTD.</h3>
                    <p class="cs-item-text">
                        Expert Carpet, upholstery ,pressure washing, HVAC Cleaning & more.

                    </p>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/gmac.png">
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/gmac.png">
                    <img decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/finance-laptop.png"
                            alt="finance" width="413" height="374" aria-hidden="true">
                </picture>
                <!--On Hover Image-->
                <img class="cs-arrow" loading="lazy" decoding="async" src="/assets/images/hover.svg" alt="arrow" width="412" height="249" aria-hidden="true">
            </li>
        </ul>
    </div>
</section>
                                
  
<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1374">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Explore Our Recently Completed Work</h2>
            <p class="cs-text">
                We specialize in small business web design and development for clients anywhere in the US. Every line of code is written by hand to ensure the best performance, which helps bring in more customers to your site and bring more revenue to your business.
            </p>
        </div>
        <ul class="cs-image-group">
            <!-- Card 1 -->
            <li class="cs-item">
                <a href="https://wafflehousesherwood.ca/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-1.png">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-1.png">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-1.png" alt="fancy house" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Voyage</h3>
                            <span class="cs-desc">A complete Travel Agency App UI</span>
                        </div>
                        <picture class="cs-icon-wrapper">
                            <img class="cs-icon" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                            alt="arrow" width="413" height="374" aria-hidden="true">
                        </picture>
                        <a href="https://wafflehousesherwood.ca/" class="cs-button-solid">Visit Website</a>
                    </div>
                </a>
            </li>
            <!-- Card 2 -->
            <li class="cs-item">
                <a href="https://montanoplumbing.ca/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-2.png">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-2.png">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-2.png" alt="modern house" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Matcha and Co</h3>
                            <span class="cs-desc">A Tea Brand E-commerce Website</span>
                        </div>
                        <picture class="cs-icon-wrapper">
                            <img class="cs-icon" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                            alt="arrow" width="413" height="374" aria-hidden="true">
                        </picture>
                        <a href="https://montanoplumbing.ca/" class="cs-button-solid">Visit Website</a>
                    </div>
                </a>
            </li>
            <!-- Card 3 -->
            <li class="cs-item">
                <a href="https://yegbusiness.org/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-3.png">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-3.png">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-3.png" alt="modern home at night" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Bradley</h3>
                            <span class="cs-desc">This is Psychologist's Portfolio landing page UI header.</span>
                        </div>
                        <picture class="cs-icon-wrapper">
                            <img class="cs-icon" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                            alt="arrow" width="413" height="374" aria-hidden="true">
                        </picture>
                        <button class="cs-button-solid">Visit Website</a>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>
                                


<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<!-- <section id="reviews-567">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">What Our Clients Say</h2>
            <p class="cs-text">
                
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item"> -->
                <!--Blue Quote-->
                <!-- <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/stars3.svg" decoding="async" alt="quote icon" width="189" height="24">
                <p class="cs-item-text">
                    Coming Soon
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.jpg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name"> -->
                        <!-- Vera Robinson -->
                        <!-- <span class="cs-job">Psychologist</span> -->
                    <!-- </span>
                </div>
            </li>
            <li class="cs-item"> -->
                <!--Blue Quote-->
                <!-- <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/stars3.svg" decoding="async" alt="quote icon" width="189" height="24">
                <p class="cs-item-text"> -->
                    <!-- Curabitur vitae nunc sed velit dignissim sodales ut. Maecenas ultricies mi eget mauris pharetra et. Et ligula ullamcorper malesuada proin pellentesque diam volutpat commodo -->
                    <!-- Coming Soon
                </p> -->
                <!-- <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.jpg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">  -->
                        <!-- Benjamin Norris -->
                        <!-- <span class="cs-job">Business analyst</span> -->
                    <!-- </span>
                </div>
            </li>
            <li class="cs-item"> -->
                <!--Blue Quote-->
                <!-- <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/stars3.svg" decoding="async" alt="quote icon" width="189" height="24">
                <p class="cs-item-text"> -->
                    <!-- Curabitur vitae nunc sed velit dignissim sodales ut. Maecenas ultricies mi eget mauris pharetra et. Et ligula ullamcorper malesuada proin pellentesque diam volutpat commodo -->
                    <!-- Coming Soon
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.jpg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name"> -->
                        <!-- Benjamin Norris -->
                        <!-- <span class="cs-job">Business analyst</span> -->
                    <!-- </span>
                </div>
            </li>
        </ul>
    </div>
    <div><a href="" class="cs-button-4" aria-label="read more about us">Read More</a></div> -->
    
                                
<!-- </section> -->
                 

    {% include 'components/cta.html' %}
    {% include 'components/chatbot.html' %}

{% endblock %}