---
title: 'Portfolio | Bespoke Web Design'
description: 'Professional web design for small businesses in Edmonton. Affordable and tailored web solutions to help
your business grow.'
preloadImg: '/assets/images/bespokelogo1234.png'
permalink: 'portfolio/'
image: /assets/images/ogimage2.png
eleventyNavigation:
    key: Portfolio
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZMYC44ZRHF"></script>
<script> window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-ZMYC44ZRHF'); </script>
<link rel="stylesheet" href="/assets/css/portfolio.css">
{% endblock %}

{% block body %}


<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
    <div class="cs-container">
        <span class="cs-int-title">Portfolio</span>
        <div class="cs-breadcrumbs">
            <a href="/index" class="cs-link">Home</a>
            <a href="/portfolio" class="cs-link cs-active">Portfolio</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banner.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banner.jpg">
        <img decoding="async" src="/assets/images/banner.jpg" alt="mechanic" width="1280" height="568"
            aria-hidden="true">
    </picture>
</div>



<!-- ============================================ -->
<!--                  Portfolio                    -->
<!-- ============================================ -->

<section id="services-1626">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Portfolio</span>
                <h2 class="cs-title">Explore Our Portfolio</h2>
            </div>
            <p class="cs-text">Here’s a showcase of local entrepreneurs we've had the pleasure of working with, each contributing to our journey.</p>
        </div>
        
        <!-- Start of Portfolio Items -->
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="https://wafflehousesherwood.ca/" class="cs-link" target="_blank">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/mockup-wafflehouse.png">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/mockup-wafflehouse.png">
                        <img loading="lazy" decoding="async" src="/assets/images/mockup-wafflehouse.png" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">Waffle House Bar & Grill</h3>
                    <p class="cs-item-text">Sherwood Park’s yummy waffle and steak bar grill.</p>
                    <span class="cs-fake-link">View Website
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>

            <li class="cs-item">
                <a href="https://montanoplumbing.ca/" class="cs-link" target="_blank">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/mockup-mpc.png">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/mockup-mpc.png">
                        <img loading="lazy" decoding="async" src="/assets/images/mockup-mpc.png" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">Montano Plumbing & Contracting LTD.</h3>
                    <p class="cs-item-text">Trusted and Proven Plumbing & Renovation for Edmonton.</p>
                    <span class="cs-fake-link">View Website
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>

            <li class="cs-item">
                <a href="https://kmsplumbingyeg.com" class="cs-link" target="_blank">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/mockup-kms.png">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/mockup-kms.png">
                        <img loading="lazy" decoding="async" src="/assets/images/mockup-kms.png" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">KMS Plumbing & Gasfitting Ltd.</h3>
                    <p class="cs-item-text">Expert Plumbing & Gasfitting – Red Seal Certified</p>
                    <span class="cs-fake-link">View Website
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>

            <li class="cs-item">
                <a href="https://yegcarpetcleaningservices.ca/" class="cs-link" target="_blank">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/mockup-yeg-carpet.webp">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/mockup-yeg-carpet.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/mockup-yeg-carpet.webp" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">YEG Carpet Cleaning Service</h3>
                    <p class="cs-item-text">Offers home, office, and carpet cleaning services in Edmonton</p>
                    <span class="cs-fake-link">View Website
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>

            <li class="cs-item">
                <a href="https://yegbusiness.org/" class="cs-link" target="_blank">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/mockup-yeg.png">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/mockup-yeg.png">
                        <img loading="lazy" decoding="async" src="/assets/images/mockup-yeg.png" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">YEG Business</h3>
                    <p class="cs-item-text">A modern, premium business listing platform designed to connect Edmonton businesses with their communities.</p>
                    <span class="cs-fake-link">View Website
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>

            <li class="cs-item">
                <a href="http://bespokeacademy.ca/" class="cs-link" target="_blank">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/mockup-bespoke_academy.png">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/mockup-bespoke_academy.png">
                        <img loading="lazy" decoding="async" src="/assets/images/mockup-bespoke_academy.png" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">Bespoke Academy</h3>
                    <p class="cs-item-text">A skill development platform designed to help individuals learn remote skills, whether they’re changing careers or advancing their expertise.</p>
                    <span class="cs-fake-link">View Website
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>

            <li class="cs-item">
                <a href="https://bespokeaffiliate.ca/" class="cs-link" target="_blank">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/mockup-bespoke_affiliate.png">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/mockup-bespoke_affiliate.png">
                        <img loading="lazy" decoding="async" src="/assets/images/mockup-bespoke_affiliate.png" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">Bespoke Affiliate</h3>
                    <p class="cs-item-text">A website for <strong>entrepreneurs</strong> to compare hosting, domains, and tech solutions, featuring informative tech blogs to help them understand their options and make smarter decisions for their online businesses.</p>
                    <span class="cs-fake-link">View Website
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>

            <li class="cs-item">
                <a href="https://benjielindolive.ca/" class="cs-link" target="_blank">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/mockup-benjie.png">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/mockup-benjie.png">
                        <img loading="lazy" decoding="async" src="/assets/images/mockup-benjie.png" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">Benjie Lindo Live</h3>
                    <p class="cs-item-text">Filipino promoter based in Edmonton, Alberta, Canada</p>
                    <span class="cs-fake-link">View Website
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>



{% include 'components/cta.html' %}

<!-- ============================================ -->
<!--                 Shopify CTA                  -->
<!-- ============================================ -->

<section id="cta-403" class="cs-image-only">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Sell Online With Shopify</span>
            <h2 class="cs-title">Ready to Launch Your Online Store?</h2>
            <p class="cs-text">
                Take your business online with ease! Get started with a powerful eCommerce platform that’s built for
                growth. Set up, customize, and manage your store—all in one place
            </p>
            <div class="cs-tooltip cs-text">Affiliate Disclosure
                <span class="cs-tooltiptext">Some of the links on this website are affiliate links, meaning, at no
                    additional cost to you, I may earn a commission if you click through and make a purchase. I only
                    recommend products and services that I trust and believe will add value to my readers. Your support
                    by using these links helps me to continue providing valuable content.</span>
            </div>
        </div>
        <a href="https://shopify.pxf.io/c/5804036/1499945/13624" target="_blank"
            class="affiliate_link cs-small-device-only" id="1499945"><img
                src="../../assets/images/shopify-ad-mobile.jpg" border="0" alt="" width="320" height="480" /></a><img
            height="0" width="0" src="https://imp.pxf.io/i/5804036/1499945/13624"
            style="position:absolute;visibility:hidden;" border="0" />
        <a href="https://shopify.pxf.io/c/5804036/1499950/13624" target="_blank"
            class="affiliate_link cs-medium-device-only" id="1499950"><img
                src="../../assets/images/shopify-ad-tablet.jpg" border="0" alt="" width="480" height="320" /></a><img
            height="0" width="0" src="https://imp.pxf.io/i/5804036/1499950/13624"
            style="position:absolute;visibility:hidden;" border="0" />
        <a href="https://shopify.pxf.io/c/5804036/1499972/13624" target="_blank"
            class="affiliate_link cs-large-device-only" id="1499972"><img src="../../assets/images/shopify-ad.jpg"
                border="0" alt="" width="1200" height="628" /></a><img height="0" width="0"
            src="https://imp.pxf.io/i/5804036/1499972/13624" style="position:absolute;visibility:hidden;" border="0" />
    </div>
</section>


{% include 'components/chatbot.html' %}

{% endblock %}