---
title: 'Services | Bespoke Web Design'
description: 'Get superior results with our premium, 100% hand-coded websites. Improve your brand and convert visitors into leads. Starting at just $149/month, our custom sites offer unmatched quality and ongoing support. Explore our services today!'
preloadImg: '/assets/images/bespokelogonotext.png'
permalink: 'services/'
eleventyNavigation:
    key: Services
    order: 1
---

{% extends "layouts/base.html" %}

{% block head %}
<!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZMYC44ZRHF"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-ZMYC44ZRHF'); </script>
    <link rel="stylesheet" href="/assets/css/services.css">
{% endblock %}

{% block body %}



   <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
    <div class="cs-container">
        <span class="cs-int-title">Services</span>
        <div class="cs-breadcrumbs">
            <a href="/index" class="cs-link">Home</a>
            <a href="/services" class="cs-link cs-active">Services</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banner.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banner.jpg">
        <img decoding="async" src="/assets/images/banner.jpg" alt="mechanic" width="1280" height="568" aria-hidden="true">
    </picture>
</div>




  <!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->

<section id="content-page-714">
    <div class="cs-container">
        <div class="cs-content">
            <h3>SERVICES</h3>
           <div> <h1 class="cs-title"><span class="bluetext">$0</span> Down, <span class="bluetext">$149</span>  CAD Per Month <span class="cs-color">  </span></h1><h2 class="cs-title"></span>12-Month Minimum Contract <span class="cs-color"> </h2></div>
            <br>
            <br>
            
            <h3>Affordable, Professional Websites for Small Businesses</h3>
            <p>Avoid the typical high upfront costs and the hassle of complex page builders. With our
                $149/month subscription model, you get a professional 5-page website with no initial
                payment and continuous, comprehensive service.</p>
            <p>For extra pages or custom features, pricing will be tailored based on the project's scope and time required</p>
            <h4></h4>
            <p>
                <span class="bluetext"><b>Custom Solutions:</b></span> Need more than just the basics? We provide tailored pricing for
                additional pages or custom features based on your project's unique scope and
                requirements.<br><br>
                <span class="bluetext"><b>Design:</b></span> Custom Figma designs that align with industry standards, delivering a
                professional, polished look for your business.<br><br>
                <span class="bluetext"><b>Development</b></span> Hand-coded websites using Visual Studio Code, ensuring optimal
                performance and reliability.<br><br>
                <span class="bluetext"><b>Domain & Hosting</b></span> Full management of your domain and hosting needs, so you never
                have to worry about the technical details.<br><br>


                

                As a business owner, your priority is to create value and drive sales. Let us manage the
                technical complexities, so you can focus on what matters most – your business!
                            </p> <br><br>
            
            <h3 style="float: right;"><img class="cs-icon" src="https://img.icons8.com/?size=100&id=D9RtvkuOe31p&format=png&color=6EACDA" alt="icon" width="10" height="10" loading="lazy" decoding="async" style="float: left;" >Hosting Fees Included</h3>
            
                <p> Hosting is seamlessly included, so you have one less thing to worry about.</p>
               
            
            
            <h3 style="float: right;"><img class="cs-icon" src="https://img.icons8.com/?size=100&id=D9RtvkuOe31p&format=png&color=6EACDA" alt="icon" width="10" height="10" loading="lazy" decoding="async" style="float: left;" >Unlimited Edits</h3>

            
                <p>Request changes whenever you need them, and we’ll ensure they’re addressed
                    promptly.</p>
               
            <h3 style="float: right;"><img class="cs-icon" src="https://img.icons8.com/?size=100&id=D9RtvkuOe31p&format=png&color=6EACDA" alt="icon" width="10" height="10" loading="lazy" decoding="async" style="float: left;" >24/7 Customer Service</h3>
                <p>Contact us anytime. As local in Edmonton, Canada, we offer direct, personal support
                    with no automated systems or phone trees.</p>
               
            <h3 style="float: right;"><img class="cs-icon" src="https://img.icons8.com/?size=100&id=D9RtvkuOe31p&format=png&color=6EACDA" alt="icon" width="10" height="10" loading="lazy" decoding="async" style="float: left;" >Web Design & Development</h3>
                <p>Includes over 40 hours of dedicated design, development, and testing to ensure your
                    site is top-notch.</p>
               
            <h3 style="float: right;"><img class="cs-icon" src="https://img.icons8.com/?size=100&id=D9RtvkuOe31p&format=png&color=6EACDA" alt="icon" width="10" height="10" loading="lazy" decoding="async" style="float: left;" >100 Google Page Speed Score</h3>
                <p>We aim for a perfect 100 on Google PageSpeed scores, enhancing both your site&#39;s
                    performance and search ranking.</p>
               
            <h3 style="float: right;"><img class="cs-icon" src="https://img.icons8.com/?size=100&id=D9RtvkuOe31p&format=png&color=6EACDA" alt="icon" width="10" height="10" loading="lazy" decoding="async" style="float: left;" >Google Analytics</h3>

            
            
                <p>We'll set up Google Analytics for free, so you can easily track and understand your site&#39;s
                    traffic.</p>
            
            
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/save.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/save.png">
                <img loading="lazy" decoding="async" src="/assets/images/icons8-piggy-bank.gif" alt="person" width="570" height="680" aria-hidden="true">
            </picture>

            <!--Flower Graphic-->
            <!-- <img class="cs-flower" loading="lazy" decoding="async" src="/assets/images/prism.svg"> -->

            <!--Spidey Sense Graphic-->
            <!-- <img class="cs-sense" loading="lazy" decoding="async" src="/assets/images/prism.svg" alt="spidey sense graphic" width="80" height="89" aria-hidden="true"> -->
        </div>
    </div>
    <!--Waves Graphic-->
    <!-- <picture class="cs-background">
        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Flarge-waves.svg" alt="waves" decoding="async" aria-hidden="true" width="625" height="952">
    </picture> -->
</section>



<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-357">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">It’s Easy to Get Started</h2><br><br>
            <p class="cs-text">
                At Bespoke web design, we create professional sites hassle-free, so you can focus on what matters most—your business!
            </p>
        </div>
        <ul class="cs-card-group">
            <!-- Option 1 -->
            <li class="cs-item cs-best">
                <h3 class="cs-h3">STANDARD</h3>
                <p class="cs-item-text">
                    5 PAGES
                </p>
                <div class="cs-option-group">
                    <span class="cs-price">$149<span class="cs-small">/month</span></span>
                </div>
                <span class="cs-included">Package Includes</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        Custom 5-page Business website
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        Responsive design for mobile and desktop
                    </li>
                    <li class="cs-li cs-disabled">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        Hosting included
                    </li>
                    <li class="cs-li cs-disabled">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        Support and Maintenace
                    </li>
                   <br>
                   <br>
                   <br>
                   <br>
                   <br>
                   <br>
                   <br>
                
               
                </ul>
                <a href="/typecontact" class="cs-button-solid">Get Started</a>
            </li>
            <!-- Option 2 -->
            <li class="cs-item cs-popular">
                <h3 class="cs-h3">STANDARD 5 PAGES+ BRAND & IDENTITY PACKAGE</h3>
                <p class="cs-item-text">
                
                </p>
                <div class="cs-option-group">
                    <span class="cs-price">$200<span class="cs-small">/month</span></span>
                </div>
                <span class="cs-included">Package Includes</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        Business Logo
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        Business Card Design: Double-sided with two custom designs.
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        Social Media Covers: for Facebook, LinkedIn, Instagram, and YouTube.
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        Email Signature: Professional and branded.
                    </li>
                    
                    <li class="cs-li cs-disabled">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        Letterhead: Custom design for consistency.
                    </li>
                   
                    <li class="cs-li cs-disabled">
                        <i>All designs will align with and complement your company logo.</i>
                    </li>


                </ul>
                <a href="/typecontact" class="cs-button-solid">Get Started</a>
            </li>
            <!-- Option 3 -->
            <li class="cs-item">
                <h3 class="cs-h3">ADD ONS</h3>
                <p class="cs-item-text">
                    STARTS AT
                </p>
                <div class="cs-option-group">
                    <span class="cs-price">$150<span class="cs-small"></span></span>
                </div>
                <span class="cs-included">Package Includes</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        <span>Additional Page -Starts at  <b> $150 </b> </span>                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        <span>Custom CMS Blog -Starts at  <b> $300 </b> </span>
                        
                    </li>
                    <li class="cs-li">
                        <span><i>Highly Recommended for SEO</i></span>
                        
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        <span>Brand & Identity Package -Starts at <b> $700 </b> </span>
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        <span>Advanced Copywriting  <b> Coming Soon </b> </span>
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        <span>Custom Request  <b> Call for a Quote </b> </span>
                    </li>
                    <li class="cs-li">
                        <span> </span>
                    </li>
                    <li class="cs-li">
                        <span> </span>
                    </li>
                    <br>
                    <br>
                    <br>
                    <br>
                    
                
                    
                    
                    
                  
                    
                </ul>
                <a href="/typecontact" class="cs-button-solid">Get Started</a>
            </li>
        </ul>
    </div>
</section>
                                




        
   
                           


    {% include 'components/cta.html' %}
    {% include 'components/chatbot.html' %}

{% endblock %}