---
title: 'Services | Bespoke Web Design'
description: 'Get superior results with our premium, 100% hand-coded websites. Improve your brand and convert visitors
into leads. Starting at just $149/month, our custom sites offer unmatched quality and ongoing support. Explore our
services today!'
preloadImg: '/assets/images/bespokelogo1234.png'
permalink: 'services/'
image: /assets/images/ogimage2.png
eleventyNavigation:
key: Services
order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZMYC44ZRHF"></script>
<script> window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-ZMYC44ZRHF'); </script>
<link rel="stylesheet" href="/assets/css/services.css">
{% endblock %}

{% block body %}



<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
    <div class="cs-container">
        <span class="cs-int-title">Services</span>
        <div class="cs-breadcrumbs">
            <a href="/index" class="cs-link">Home</a>
            <a href="/services" class="cs-link cs-active">Services</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banner.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banner.jpg">
        <img decoding="async" src="/assets/images/banner.jpg" alt="mechanic" width="1280" height="568"
            aria-hidden="true">
    </picture>
</div>




<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
 ================================================= -->




<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

<section id="pricing-1690">
    <div class="cs-container">
        <div id="cs-content-1801">
            <div class="cs-flex">
                <span class="cs-topper">Pricing</span>
                <h1 class="cs-title">Custom Web Design & Development for Your Business</h1>
                <p class="cs-text">
                    At Bespoke Web Design, we build fully custom websites—no limitations, no hassle. We don’t just
                    create websites; we become your technology partner, helping your business grow with solutions
                    designed around your goals and vision.
                </p>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-package">BRAND & IDENTITY PACKAGE</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        Includes everything in Standard Package.
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                            alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Business Logo - All designs will align with and complement your company logo.
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                            alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Business Card Design: Double-sided with two custom designs.
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                            alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Social Media Covers: for Facebook, LinkedIn, Instagram, and YouTube.
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                            alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Email Signature: Professional and branded.
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                            alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Each month, receive 5 custom social media assets tailored to your events and promotions.
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                            alt="checkmark" width="18" height="18">
                    </li>
                </ul>
                <span class="cs-price">$200
                    <span class="cs-duration">Per Month</span>
                </span>
                <a href="/contact/" class="cs-link">
                    <span class="cs-link-text">Get Started</span>
                    <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-arrow-right.svg"
                        alt="icon" width="20" height="20" aria-hidden="true" />
                </a>
            </li>
            <li class="cs-item cs-popular">
                <span class="cs-package">STANDARD</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        Custom 5-page Business website
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                            alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Responsive design for mobile and desktop
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                            alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Hosting included
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                            alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Additional Page - Starts at $150
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                            alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Support and Maintenance
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                            alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Custom CMS Blog - Starts at $300 (recommended for SEO)
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                            alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Custom Request Call for a Quote
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                            alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        Advanced Copywriting (Coming Soon)
                    </li>
                </ul>
                <span class="cs-price">$149
                    <span class="cs-duration">Per Month</span>
                </span>
                <a href="/contact/" class="cs-link">
                    <span class="cs-link-text">Get Started</span>
                    <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-arrow-right.svg"
                        alt="icon" width="20" height="20" aria-hidden="true" />
                </a>
            </li>
            <li class="cs-item">
                <span class="cs-package">LUMP SUM</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        Custom 5-page Business website
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                            alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        $20/mo Hosting
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                            alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Additional Page - Starts at $150
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                            alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        +$75/mo Unlimited Edits Add-on
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                            alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Custom CMS Blog - Starts at $300 (recommended for SEO)
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                            alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Custom Request Call for a Quote
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
                            alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        Advanced Copywriting (Coming Soon)
                    </li>
                </ul>
                <span class="cs-price">$2000
                    <span class="cs-duration">+ $20/month hosting</span>
                </span>
                <a href="/contact/" class="cs-link">
                    <span class="cs-link-text">Get Started</span>
                    <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-arrow-right.svg"
                        alt="icon" width="20" height="20" aria-hidden="true" />
                </a>
            </li>
        </ul>
    </div>
</section>

<div style="background-color: var(--primary-color); padding: var(--section-padding); text-align: center; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <h2 style="font-size: var(--header-font-size); color: var(--body-text-color-white); margin: 0;">Get 1 Year of Free Hosting!</h2>
    <p style="font-size: var(--body-font-size); color: var(--body-text-color-white); margin-top: 10px;">All designs in Figma are 100% custom—no templates, just unique creations.</p>
  </div>
  

<!-- <section id="gallery-1446">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Brand and Identity Kit</span>
                <h2 class="cs-title">What's Included</h2>
                <p class="cs-text">A complete branding solution tailored for your business.</p>
            </div>
        </div>
        <div class="cs-content cs-subhead">
            <h3>Business Logos</h3>
            <p class="cs-text">A custom logo that embodies your brand.</p>
        </div>

        <div class="cs-gallery">

            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/MPC-Primary-Logo-Blue.png">
                <source media="(min-width: 601px)" srcset="/assets/images/MPC-Primary-Logo-Blue.png">
                <img loading="lazy" decoding="async" src="/assets/images/MPC-Primary-Logo-Blue.png" alt="logo blue" width="305" height="400">
            </picture>

            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/MPC-Primary-Logo-White.png">
                <source media="(min-width: 601px)" srcset="/assets/images/MPC-Primary-Logo-White.png">
                <img loading="lazy" decoding="async" src="/assets/images/MPC-Primary-Logo-White.png" alt="logo white" width="305" height="400">
            </picture>

            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/MPC-Primary-Logo-Black.png">
                <source media="(min-width: 601px)" srcset="/assets/images/MPC-Primary-Logo-Black.png">
                <img loading="lazy" decoding="async" src="/assets/images/MPC-Primary-Logo-Black.png" alt="logo black" width="305" height="400">
            </picture>
        </div>
        <div class="cs-content cs-subhead">
            <h3>Business Cards</h3>
            <p class="cs-text">Professional designs to leave a lasting impression.</p>
        </div>

        <div class="cs-gallery">
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/business-card-1.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/business-card-1.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/business-card-1.jpg" alt="business card front" width="305" height="400">
            </picture>
            <!--Picture 2--            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/business-card-2.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/business-card-2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/business-card-2.jpg" alt="business card back" width="305" height="400">
            </picture>
        </div>
        <div class="cs-content cs-subhead">
            <h3>Social Media Assets</h3>
            <p class="cs-text">Up to 5 personalized assets per month across platforms for seamless online presence. All designs will align with and complement your company logo.</p>
            <ul class="cs-ul">
                <li class="cs-li">Facebook posts & stories</li>
                <li class="cs-li">Instagram assets</li>
                <li class="cs-li">LinkedIn cover images</li>
                <li class="cs-li">YouTube channel cover</li>
            </ul>
        </div>
        <div class="cs-gallery">
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/social-media-ad-1.png">
                <source media="(min-width: 601px)" srcset="/assets/images/social-media-ad-1.png">
                <img loading="lazy" decoding="async" src="/assets/images/social-media-ad-1.png" alt="social ad 1" width="305" height="400">
            </picture>
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/social-media-ad-2.png">
                <source media="(min-width: 601px)" srcset="/assets/images/social-media-ad-2.png">
                <img loading="lazy" decoding="async" src="/assets/images/social-media-ad-2.png" alt="social ad 2" width="305" height="400">
            </picture>
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/social-media-ad-3.png">
                <source media="(min-width: 601px)" srcset="/assets/images/social-media-ad-3.png">
                <img loading="lazy" decoding="async" src="/assets/images/social-media-ad-3.png" alt="social ad 3" width="305" height="400">
            </picture>
        </div>
    </div>
</section> -->

{% include 'components/cta.html' %}

<!-- ============================================ -->
<!--                 BlueHost CTA                 -->
<!-- ============================================ -->

 

{% include 'components/chatbot.html' %}

{% endblock %}