---
import { cn } from '@lib/utils.ts';
import type { HTMLAttributes } from 'astro/types';

type LinkVariants = 'light' | 'primary';
type Props = HTMLAttributes<'a'> & {
  variants?: LinkVariants;
};

const {
  variants = 'primary',
  href: to = '/contact/',
  class: className,
  ...rest
} = Astro.props as Props;

const linkVariants: Record<LinkVariants, string> = {
  light: 'bg-linear-to-b from-[#E8E8E8] via-[#C0C0C0] to-[#A0A0A0]',
  primary: 'bg-linear-to-b from-blue-400 via-blue-500 to-blue-700',
};
const buttonColor = linkVariants[variants];
---

<a
  href={to}
  class:list={cn([
    'cs-button-solid',
    'inline-flex h-14.5 items-center gap-2 border border-neutral-50 font-bold',
    'corner-squircle rounded-2xl supports-[corner-shape:squircle]:rounded-4xl',
    'before:corner-squircle before:rounded-[inherit]',
    buttonColor,
    'shadow-[0_2px_8px_rgba(0,0,0,0.4),0_1px_2px_rgba(0,0,0,0.3),inset_0_2px_0_rgba(255,255,255,0.5),inset_0_-2px_0_rgba(255,255,255,0.3),inset_0_-8px_16px_rgba(255,255,255,0.2),inset_0_0_0_1px_rgba(255,255,255,0.4),inset_0_1px_4px_rgba(0,0,0,0.1)]',
    className,
  ])}
  style="background-color: transparent;"
>
  <slot> Contact Us </slot>
</a>
