---
title: 'Bespoke Web Design'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}





<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-855">
    
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Modern and Professional</span>
            <h1 class="cs-title">Custom Web Design & Development for Small Businesses</h1>
            <p class="cs-text">
                Located in Edmonton, AB, Canada, We specialize in creating fully hand-coded websites, ensuring superior quality and performance. Say goodbye to page builders and WordPress – our services start at just $149/month.
            </p>
            <a href="/contact" class="cs-button-solid">Contact Us</a>
        </div>
        <!--Hero Image-->
        <picture class="cs-picture">
            <!--Mobile-->
            <source media="(max-width: 600px)" srcset="/assets/images/mockupdevices.png">
            <!--Tablet-->
            <source media="(min-width: 601px)" srcset="/assets/images/mockupdevices.png">
            <!--Desktop-->
            <source media="(min-width: 1024px)" srcset="/assets/images/mockupdevices.png">
            <img aria-hidden="true" decoding="async" src="/assets/images/mockupdevices.png" alt="therapy" width="570" height="701">
            </picture>
    </div>
    <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->

</section>
                                                 
                                

    <!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->
<section id="services-597">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">SERVICES</span>
            <h2 class="cs-title">WHAT WE DO</h2>
            <p class="cs-text">
                We specialize in web design and development for small businesses throughout Canada. Our meticulously hand-crafted code ensures top performance, enhancing your online presence and increasing your revenue.            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="https://img.icons8.com/?size=100&id=fUN1LM3gWXOW&format=png&color=000000" alt="icon" width="61" height="58" loading="lazy" decoding="async">
                <h3 class="cs-h3">Mobile-First Design</h3>
                <p class="cs-item-text">
                    We start building your site for mobile devices first, then we add on to it to make tablet and desktop. 
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://img.icons8.com/?size=100&id=aGVa91FU6Vg8&format=png&color=000000" alt="icon" width="61" height="58" loading="lazy" decoding="async">
                <h3 class="cs-h3">Fully Responsive</h3>
                <p class="cs-item-text">
                    Your website will fit all mobile screens sizes, tablets, and desktop sizes so new clients can access your site from anywhere.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://img.icons8.com/?size=100&id=M3qWtBeOi6ll&format=png&color=000000" alt="icon" width="61" height="58" loading="lazy" decoding="async">
                <h3 class="cs-h3">Optimization</h3>
                <p class="cs-item-text">
                    60% of all internet traffic is on mobile devices, so we optimize your mobile to perform their best in search engines.
                </p>
            </li>
        </ul>
    </div>
</section>
      

    
                                

   <!-- ============================================ -->
<!--                 Recent Posts                 -->
<!-- ============================================ -->

<section id="blog-1347">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Recent Posts</span>
            <h2 class="cs-title">Know more tips & techniques!</h2>
            <p class="cs-text">
                
                
                Discover essential tips and innovative techniques to enhance your skills in [your field]. From practical advice to advanced strategies, elevate your projects and achieve outstanding results. Let's innovate together!            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-link" href="/">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/luca-bravo-XJXWbfSo2f0-unsplash.jpg">
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/luca-bravo-XJXWbfSo2f0-unsplash.jpg">
                        <img decoding="async"
                            src="/assets/images/luca-bravo-XJXWbfSo2f0-unsplash.jpg"
                            alt="agency" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-item-text">
                        <h3 class="cs-h3">
                            Are hand coded websites better than WordPress?
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                        alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </h3>
                        <div class="cs-info">
                            <span class="cs-date">
                                <img class="cs-date-icon" decoding="async"
                                        src="https://img.icons8.com/?size=100&id=23&format=png&color=32ADCC"
                                        alt="calendar" width="413" height="374" aria-hidden="true">
                                30 April, 2024
                            </span>
                            <span class="cs-category">
                                Technology
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="/">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/responsive.webp">
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/responsive.webp">
                        <img decoding="async"
                            src="/assets/images/responsive.webp"
                            alt="agency" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-item-text">
                        <h3 class="cs-h3">
                            How to build responsive websites from scratch
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                        alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </h3>
                        <div class="cs-info">
                            <span class="cs-date">
                                <img class="cs-date-icon" decoding="async"
                                        src="https://img.icons8.com/?size=100&id=23&format=png&color=32ADCC"
                                        alt="calendar" width="413" height="374" aria-hidden="true">
                                10 January, 2024
                            </span>
                            <span class="cs-category">
                                Technology
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="/">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/darkmode.webp">
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/darkmode.webp">
                        <img decoding="async"
                            src="/assets/images/darkmode.webp"
                            alt="agency" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-item-text">
                        <h3 class="cs-h3">
                            How to add Dark Mode to a custom website
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                        alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </h3>
                        <div class="cs-info">
                            <span class="cs-date">
                                <img class="cs-date-icon" decoding="async"
                                        src="https://img.icons8.com/?size=100&id=23&format=png&color=32ADCC"
                                        alt="calendar" width="413" height="374" aria-hidden="true">
                                18 June, 2024
                            </span>
                            <span class="cs-category">
                                Technology
                            </span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>
                              




<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-357">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">It's Easy to Get Started</h2>
            <p class="cs-text">
                “At Bespoke web design, we create professional sites hassle-free, so you can focus on what
matters most—your business!
            </p>
        </div>
        <ul class="cs-card-group">
            <!-- Option 1 -->
            <li class="cs-item">
                <h3 class="cs-h3">E-COMMERCE</h3>
                <p class="cs-item-text">
                   STARTING AT
                </p>
                <div class="cs-option-group">
                    <span class="cs-price">$8K<span class="cs-small"></span></span>
                </div>
                <span class="cs-included">Package Includes</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        $8000 min. Up Front Cost
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        Custom Designed
                    </li>
                    <li class="cs-li cs-disabled">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        Custom Coded Shopify Integration
                    </li>
                    <li class="cs-li cs-disabled">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        Easy to Edit
                    </li>

                </ul>
                <a href="/basic.html" class="cs-button-solid">Get Started</a>
            </li>
            <!-- Option 2 -->
            <li class="cs-item cs-popular">
                <h3 class="cs-h3">STANDARD</h3>
                <p class="cs-item-text">
                    5 PAGES
                </p>
                <div class="cs-option-group">
                    <span class="cs-price">$149<span class="cs-small">/month</span></span>
                </div>
                <span class="cs-included">Package Includes</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        Unlimited Edits
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        Includes Hosting
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        24/7 Customer Service
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        Lifetime Updates
                    </li>


                </ul>
                <a href="/basic.html" class="cs-button-solid">Get Started</a>
            </li>
            <!-- Option 3 -->
            <li class="cs-item">
                <h3 class="cs-h3">LOGOS & GRAPHIC DESIGN</h3>
                <p class="cs-item-text">
                   INCLUDED
                </p>
                <div class="cs-option-group">
                    <span class="cs-price">$0<span class="cs-small">/month</span></span>
                </div>
                <span class="cs-included">Package Includes</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        2 revisions
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        All File Formats
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        Ready to use
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        FREE with Subscription
                    </li>


                </ul>
                <a href="/basic.html" class="cs-button-solid">Get Started</a>
            </li>
        </ul>
    </div>
</section>
                           

{% include 'components/cta.html' %}
{% endblock %}