---
title: 'Bespoke Web Design'
description: 'Get superior results with our premium, 100% hand-coded websites. Improve your brand and convert visitors into leads. Starting at just $149/month, our custom sites offer unmatched quality and ongoing support. Explore our services today!'
preloadImg: '/assets/images/bespokelogo1234.png'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
image: /assets/images/blog/ogimage2.png
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
<!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZMYC44ZRHF"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-ZMYC44ZRHF'); </script>
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}


<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1352">
    <div class="cs-container">
        <div class="cs-content cs-text-content">
            <h1 class="cs-title"> Elevate Your Business with Custom-Built Websites </h1>
            <p class="cs-text">
                Get superior results with our 100% hand-coded websites. No page builders or
                WordPress. Starting at $149/month.  
            </p>
            <div class="cs-button-box">
                <a href="/typecontact/" class="cs-button-solid">Get Started</a>
                <a href="/services/" class="cs-button-transparent">EXPLORE OUR SERVICES</a>
            </div>
           
        </div>
        <div class="cs-content cs-video-wrapper">
            <video src="/assets/videos/vs-code.mp4" class="cs-video" autoplay loop muted alt="coding video"></video>
        </div>
    </div>
    <!--Bubble Groups-->
    <!-- <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
    <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div> -->
    <!-- Background Image, background image added in the css at 1600px for parallax effect -->
</section>
                                



<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<!-- <section id="hero-997">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h1 class="cs-title"><span class="cs-color"></span> Boost Your Business with Custom-Built<br> Websites 
            </h1>
            <p class="cs-text">
                Get superior results with our 100% hand-coded websites. No page builders or
                WordPress. Starting at $149/month.  
            </p>
            
            <div class="cs-button-box">
                <a href="/typecontact" class="cs-button-solid">Create Your Custom Site Now</a>
                <a href="/services" class="cs-button-transparent">EXPLORE OUR SERVICES</a>
            </div>
        </div>
    </div> -->


    
    <!-- Background Image -->
     <!-- <div>
    <picture class="cs-background">
        <source class="cs-background-mobile" media="(max-width: 600px)" srcset="/assets/images/landingmobb.png">
        <source media="(min-width: 601px)" srcset="/assets/images/landing2.png">
        <img loading="lazy" decoding="async" src="/assets/images/landing2.png" alt="" width="1920" height="1200" aria-hidden="true">
    </picture>
</div>
</section>
                                 -->













<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<!-- <section id="hero-855">
    
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Modern and Professional</span>
            <h1 class="cs-title">Custom Web Design & Development for Small Businesses</h1>
            <p class="cs-text">
                Get superior results with our 100% hand-coded websites. No page builders or
                WordPress. Starting at $149/month.         </p>
            <a href="/contact" class="cs-button-solid">Contact Us</a>
        </div>  -->
        <!--Hero Image-->
        <!-- <picture class="cs-picture">  -->
            <!--Mobile-->
            <!-- <source media="(max-width: 600px)" srcset="/assets/images/mockupdevices2.png">  -->
            <!--Tablet-->
            <!-- <source media="(min-width: 601px)" srcset="/assets/images/mockupdevices2.png">  -->
            <!--Desktop-->
            <!-- <source media="(min-width: 1024px)" srcset="/assets/images/mockupdevices2.png">
            <img aria-hidden="true" decoding="async" src="/assets/images/mockupdevices2.png" alt="therapy" width="570" height="900">
            </picture>
    </div> -->
    <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece -->

</section>

<!-- ============================================ -->
<!--                     Hero                     -->
<!-- ============================================ -->
<!-- 
<section id="hero-1951">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">We Do Not Cook, We Create Your Emotions!</h2>
            <p class="cs-text">
                My passion for food has brought many new, fun and delicious dishes to the table. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            </p>
            <a class="cs-button-solid" href="">Our Menu</a>
            
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture cs-left">
                <source media="(max-width: 600px)" srcset="/assets/images/mockupdevices2.png">
                <source media="(min-width: 601px)" srcset="/assets/images/mockupdevices2.png">
                <img decoding="async" src="/assets/images/mockupdevices2.png" alt="mockup" width="900" height="900" aria-hidden="true">
            </picture>
            
        </div>
    </div>
</section>
                                 -->
                                                 
                                







<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-962">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Services</span>
            <h1 class="cs-title">WHAT WE DO</h1><br><br>
            <p class="cs-text">
                We specialize in web design and development for small businesses throughout Canada. Our meticulously hand-crafted code ensures top performance, enhancing your online presence and increasing your revenue. 
                <a href="/about">LEARN MORE</a>            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-item-link" href="">
                    <img src="https://img.icons8.com/?size=100&id=fUN1LM3gWXOW&format=png&color=000000" alt="" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
                    <h3 class="cs-h3">Mobile-First Design</h3>
                    <p class="cs-item-text">
                        Mobile-First Design focuses on creating websites and apps that work best on mobile devices first, then adapting them for larger screens.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-item-link">
                    <img src="https://img.icons8.com/?size=100&id=aGVa91FU6Vg8&format=png&color=000000" alt="" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
                    <h3 class="cs-h3">Fully Responsive</h3>
                    <p class="cs-item-text">
                        Fully Responsive Design ensures that websites and apps automatically adjust and look good on any device, whether it's a phone, tablet, or desktop.         
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-item-link">
                    <img src="https://img.icons8.com/?size=100&id=M3qWtBeOi6ll&format=png&color=000000" alt="" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
                    <h3 class="cs-h3">Optimization</h3>
                    <p class="cs-item-text">
                        Optimization involves improving a website or app to load faster, run smoothly, and perform better.
                    </p>
                </a>
            </li>
        </ul>
    </div>
   
    <picture class="cs-background">
        <source media="(max-width: 630px)" srcset="/assets/images/wwd.png">
        <source media="(min-width: 601px)" srcset="/assets/images/servicess.png">
        <img loading="lazy" decoding="async" src="/assets/images/servicess.png" alt="" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>
                                









    <!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->
<!-- <section id="services-597">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">SERVICES</span>
            <h2 class="cs-title">WHAT WE DO</h2>
            <p class="cs-text">
                We specialize in web design and development for small businesses throughout Canada. Our meticulously hand-crafted code ensures top performance, enhancing your online presence and increasing your revenue. 
                <a href="/about">LEARN MORE</a>            </p>
            
            </div>
            
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="https://img.icons8.com/?size=100&id=fUN1LM3gWXOW&format=png&color=000000" alt="icon" width="61" height="58" loading="lazy" decoding="async">
                <h3 class="cs-h3">Mobile-First Design</h3>
                <p class="cs-item-text">
                    Mobile-First Design focuses on creating websites and apps that work best on mobile devices first, then adapting them for larger screens.                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://img.icons8.com/?size=100&id=aGVa91FU6Vg8&format=png&color=000000" alt="icon" width="61" height="58" loading="lazy" decoding="async">
                <h3 class="cs-h3">Fully Responsive</h3>
                <p class="cs-item-text">
                    Fully Responsive Design ensures that websites and apps automatically adjust and look good on any device, whether it's a phone, tablet, or desktop.                 </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://img.icons8.com/?size=100&id=M3qWtBeOi6ll&format=png&color=000000" alt="icon" width="61" height="58" loading="lazy" decoding="async">
                <h3 class="cs-h3">Optimization</h3>
                <p class="cs-item-text">
                    Optimization involves improving a website or app to load faster, run smoothly, and perform better.                 </p>
            </li>
        </ul>
    </div>
</section>
       -->

    
                                

   <!-- ============================================ -->
<!--                 Recent Posts                 -->
<!-- ============================================ -->

<!-- <section id="blog-1347">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Recent Posts</span>
            <h2 class="cs-title">Know more tips & techniques!</h2>
            <p class="cs-text">
                
                
                Discover essential tips and innovative techniques to enhance your skills in Web development. From practical advice to advanced strategies, elevate your projects and achieve outstanding results. Let's innovate together!            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-link" href="/">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/luca-bravo-XJXWbfSo2f0-unsplash.jpg">
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/luca-bravo-XJXWbfSo2f0-unsplash.jpg">
                        <img decoding="async"
                            src="/assets/images/luca-bravo-XJXWbfSo2f0-unsplash.jpg"
                            alt="agency" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-item-text">
                        <h3 class="cs-h3">
                            Are hand coded websites better than WordPress?
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                        alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </h3>
                        <div class="cs-info">
                            <span class="cs-date">
                                <img class="cs-date-icon" decoding="async"
                                        src="https://img.icons8.com/?size=100&id=23&format=png&color=32ADCC"
                                        alt="calendar" width="413" height="374" aria-hidden="true">
                                30 April, 2024
                            </span>
                            <span class="cs-category">
                                Technology
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="/">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/responsive.webp">
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/responsive.webp">
                        <img decoding="async"
                            src="/assets/images/responsive.webp"
                            alt="agency" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-item-text">
                        <h3 class="cs-h3">
                            How to build responsive websites from scratch
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                        alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </h3>
                        <div class="cs-info">
                            <span class="cs-date">
                                <img class="cs-date-icon" decoding="async"
                                        src="https://img.icons8.com/?size=100&id=23&format=png&color=32ADCC"
                                        alt="calendar" width="413" height="374" aria-hidden="true">
                                10 January, 2024
                            </span>
                            <span class="cs-category">
                                Technology
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="/">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/darkmode.webp">
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/darkmode.webp">
                        <img decoding="async"
                            src="/assets/images/darkmode.webp"
                            alt="agency" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-item-text">
                        <h3 class="cs-h3">
                            How to add Dark Mode to a custom website
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                        alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </h3>
                        <div class="cs-info">
                            <span class="cs-date">
                                <img class="cs-date-icon" decoding="async"
                                        src="https://img.icons8.com/?size=100&id=23&format=png&color=32ADCC"
                                        alt="calendar" width="413" height="374" aria-hidden="true">
                                18 June, 2024
                            </span>
                            <span class="cs-category">
                                Technology
                            </span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section> -->
                              







<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1644">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Choose Us</span>
            <h2 class="cs-title">Why choose Bespoke Web Design?</h2>
            <p class="cs-text">
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://img.icons8.com/?size=100&id=7692&format=png&color=4594F2" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Hand-Coded for Speed & Performance</h2>
                    <p class="cs-item-text">
                        Our websites are built from scratch to ensure the fastest loading times and best performance. No bloated code or unnecessary plugins.                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://img.icons8.com/?size=100&id=69184&format=png&color=4594F2" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">100% Custom Design to Fit Your Brand</h2>
                    <p class="cs-item-text">
                        Designs that capture your business’s values and goals, reflecting your unique identity. We also do Brand and Identity Package.                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://img.icons8.com/?size=100&id=57007&format=png&color=4594F2" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Affordable Pricing Starting at $149/month</h2>
                    <p class="cs-item-text">
                        Transparent pricing with no hidden fees. Start with a professional website for a monthly fee that fits your budget.                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://img.icons8.com/?size=100&id=11683&format=png&color=4594F2" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Ongoing Support & Maintenance Included</h2>
                    <p class="cs-item-text">
                        We provide continuous support and updates to keep your website running smoothly and securely.                    </p>
                </div>
            </li>
        </ul>
    </div>                            
</section>
             















<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-223">
    
    <div class="cs-container">
        
        <div class="cs-content">
            
            <span class="cs-topper">Perks and Benefits</span>
            <h2 class="cs-title">Benefits of Having a Professional Business Site</h2>
            <p class="cs-text">
                
            </p>
            <a href="/about" class="cs-button-solid">More About Us</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=gcHk3KXPciim&format=png&color=000000" alt="icon" width="72" height="72">
                <h3 class="cs-h3">Enhanced Credibility</h3>
                <p class="cs-item-text">
                    A professional business website enhances your brand's credibility and gives a trustworthy impression to clients.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=mYqnHc1fapB8&format=png&color=000000" alt="icon" width="72" height="72">
                <h3 class="cs-h3">Increased Visibility</h3>
                <p class="cs-item-text">
                    Reach a broader audience and improve your online presence with a well-designed website that ranks well in search engines.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=34028&format=png&color=000000" alt="icon" width="72" height="72">
                <h3 class="cs-h3">Better Customer Engagement</h3>
                <p class="cs-item-text">
                    Engage visitors effectively with an intuitive design that encourages interaction and conversion.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=114214&format=png&color=000000" alt="icon" width="72" height="72">
                <h3 class="cs-h3">Growth and Scalability</h3>
                <p class="cs-item-text">
                    Scale your business effortlessly with a website that can grow alongside your company's needs and objectives.
                </p>
            </li>
        </ul>
       
    </div>
  

</section>
                                





<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->
<!-- <section id="services-5977">
<div class="cs-container">
    <div class="cs-content">
        <span class="cs-topper"></span>
        <h2 class="cs-title-why">Why Your Business Needs a Professional Website?</h2>
        <p class="cs-text">
            A well-designed 5-page website builds trust and establishes your business as credible and reliable, giving potential clients a great first impression and setting you apart from those relying only on social media.

            
    </div>
    
</div>
</section> -->
<!-- <section id="RPsbs-1817">
    
    <div class="cs-container">
        <div class="cs-image-group"> -->
            <!--Main Image-->
            <!-- <picture class="cs-picture"> -->
                <!--Mobile Image-->
                <!-- <source media="(max-width: 600px)" srcset="/assets/images/credibility.svg"> -->
                <!--Tablet and above Image-->
                <!-- <source media="(min-width: 601px)" srcset="/assets/images/credibility.svg">
                <img loading="lazy" decoding="async" src="/assets/images/credibility.svg" alt="body builder" width="562" height="568"> -->
            <!-- </picture> -->
            <!--Pink Blob-->
            <!-- <img class="cs-splatter" loading="lazy" decoding="async" src="/assets/images/iconbg.svg" alt="red splatter" width="441" height="478">
        </div>
       
        <div class="cs-content">
            <span class="cs-topper">ONE</span>
            <h2 class="cs-title">Enhanced Credibility</h2>
            <p class="cs-text">
                A well-designed 5-page website builds trust and establishes your business as credible and reliable, giving potential clients a great first impression and setting you apart from those relying only on social media.

            </p>
          
        </div>
    </div> -->

    <!--White Splash Graphic-->
    <!-- <img class="cs-graphic cs-light" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/f7-splatter.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" > -->
    <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
    <!-- <img class="cs-graphic cs-dark" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dark-mode-splatter2.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
</section> -->

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<!-- <section id="RPsbsr-1817">
    <div class="cs-container">
        <div class="cs-image-group"> -->
            <!--Main Image-->
            <!-- <picture class="cs-picture"> -->
                <!--Mobile Image-->
                <!-- <source media="(max-width: 600px)" srcset="/assets/images/visibility.svg"> -->
                <!--Tablet and above Image-->
                <!-- <source media="(min-width: 601px)" srcset="/assets/images/visibility.svg">
                <img loading="lazy" decoding="async" src="/assets/images/visibility.svg" alt="body builder" width="562" height="568">
            </picture> -->
            <!--Pink Blob-->
            <!-- <img class="cs-splatter" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/flipped-red.svg" alt="red splatter" width="441" height="478"> -->
        <!-- <img class="cs-splatter" loading="lazy" decoding="async" src="/assets/images/iconbg.svg" alt="red splatter" width="441" height="478">
        </div>
        <div class="cs-content">
            <span class="cs-topper">TWO</span>
            <h2 class="cs-title">Increased Visibility</h2>
            <p class="cs-text">
                A website makes your business available 24/7, attracting new customers through search engines. Studies show that a website can boost sales by up to 45%. As it indexes on Google over 3-4 months, your SEO rankings will improve, driving more organic traffic.

            </p>
           
        </div>
    </div>
</section> -->

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

    <!-- <section id="RPsbs-1817">
        
        <div class="cs-container">
            <div class="cs-image-group"> -->
                <!--Main Image-->
                <!-- <picture class="cs-picture"> -->
                    <!--Mobile Image-->
                    <!-- <source media="(max-width: 600px)" srcset="/assets/images/engagement.svg"> -->
                    <!--Tablet and above Image-->
                    <!-- <source media="(min-width: 601px)" srcset="/assets/images/engagement.svg">
                    <img loading="lazy" decoding="async" src="/assets/images/engagement.svg" alt="body builder" width="562" height="568"> -->
                </picture>
                <!--Pink Blob-->
                <!-- <img class="cs-splatter" loading="lazy" decoding="async" src="/assets/images/iconbg.svg" alt="red splatter" width="441" height="478">
            </div>
           
            <div class="cs-content">
                <span class="cs-topper">THREE</span>
                <h2 class="cs-title">Better Customer Engagement</h2>
                <p class="cs-text">
                    Engage with customers through your website via contact forms and chat features, sharing valuable information and building strong relationships while providing a platform for feedback and inquiries.    
                </p>
              
            </div>
        </div> -->
    
        <!--White Splash Graphic-->
        <!-- <img class="cs-graphic cs-light" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/f7-splatter.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" > -->
        <!-- <img class="cs-graphic cs-light" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/f7-splatter.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" > -->
        <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
        <!-- <img class="cs-graphic cs-dark" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dark-mode-splatter2.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
    </section> -->
    
    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->
    
    <!-- <section id="RPsbsr-1817">
        <div class="cs-container">
            <div class="cs-image-group"> -->
                <!--Main Image-->
                <!-- <picture class="cs-picture"> -->
                    <!--Mobile Image-->
                    <!-- <source media="(max-width: 600px)" srcset="/assets/images/growth.svg"> -->
                    <!--Tablet and above Image-->
                    <!-- <source media="(min-width: 601px)" srcset="/assets/images/growth.svg">
                    <img loading="lazy" decoding="async" src="/assets/images/growth.svg" alt="body builder" width="562" height="568">
                </picture> -->
                <!--Pink Blob-->
                <!-- <img class="cs-splatter" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/flipped-red.svg" alt="red splatter" width="441" height="478"> -->
                <!-- <img class="cs-splatter" loading="lazy" decoding="async" src="/assets/images/iconbg.svg" alt="red splatter" width="441" height="478">
            </div>
            <div class="cs-content">
                <span class="cs-topper">FOUR</span>
                <h2 class="cs-title">Growth and Scalability</h2>
                <p class="cs-text">
                    Investing in a website is a smart long-term strategy for your business. Our web design services, app development, and brand identity packages provide essential tools for growth. Your website becomes a vital part of your marketing and advertising strategy, adapting as your business evolves.    
                </p>
               
            </div>
        </div>
    </section> -->
                                    
    







                   

    




                                





<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->        

<section id="services-1259">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Process</span>
            <h2 class="cs-title">Our Website Development Process
            </h2> <br><br>
            <p class="cs-text">
                Website development is vital for creating a functional and engaging online presence that meets business goals. It helps improve visibility, user experience, and conversion rates.            </p>
        </div>
        <!--Placed in a wrapper div so we can position the car absolutely inside the container to be centered in the middle of the list on desktop-->
        <div class="cs-wrapper">
            <!--Car-->
            <picture class="cs-image">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/processflow.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/processflow.png">
                <img loading="lazy" decoding="async" src="/assets/images/processflow.png" alt="worker" width="417" height="468" aria-hidden="true">
            </picture>
            <!--Circle Graphic-->
            <picture class="cs-circle">
                <!--Mobile Image-->
                <source media="(max-width: 1249px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/ellipse2.svg">
                <!--Tablet and above Image-->
                <source media="(min-width: 1250px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/ellipse.svg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/ellipse.svg" alt="circle" width="724" height="665" aria-hidden="true">
            </picture>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon"
                                    src="https://img.icons8.com/?size=100&id=5gi5Fhj344Ay&format=png&color=CB32CC"
                                    
                                    loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                        </picture>
                        <!-- Text Grouped For Flexbox-->
                        <div class="cs-text-group">
                            <h3 class="cs-h3">Discovery</h3>
                            <p class="cs-item-text">We start with a call to understand your needs, goals, and solutions.
                            </p>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="https://img.icons8.com/?size=100&id=zfXniQqU2x6w&format=png&color=000000"
                                    loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                        </picture>
                        <!-- Text Grouped For Flexbox-->
                        <div class="cs-text-group">
                            <h3 class="cs-h3">Quote & Contract
                            </h3>
                            <p class="cs-item-text">Receive a detailed quote and sign the contract. Choose between a monthly subscription or a one-time payment.

                            </p>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon"
                                    src="https://img.icons8.com/?size=100&id=LwdHuTXSHOOG&format=png&color=000000"
                                    loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                        </picture>
                        <!-- Text Grouped For Flexbox-->
                        <div class="cs-text-group">
                            <h3 class="cs-h3">Design
                            </h3>
                            <p class="cs-item-text">We create and refine your custom design in Figma.

                            </p>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon"
                                    src="https://img.icons8.com/?size=100&id=Gk42Os2sofSY&format=png&color=000000" loading="lazy"
                                    decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                        </picture>
                        <!-- Text Grouped For Flexbox-->
                        <div class="cs-text-group">
                            <h3 class="cs-h3">Development
                            </h3>
                            <p class="cs-item-text">Once the design is approved, we code it using Microsoft Visual Studio Code.</p>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon"
                                    src="https://img.icons8.com/?size=100&id=7eDIImJNz6OM&format=png&color=000000" loading="lazy"
                                    decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                        </picture>
                        <!-- Text Grouped For Flexbox-->
                        <div class="cs-text-group">
                            <h3 class="cs-h3">Quality Assurance</h3>
                            <p class="cs-item-text">We test the website locally to ensure it functions perfectly.
                            </p>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon"
                                    src="https://img.icons8.com/?size=100&id=sBteeVAWVWdN&format=png&color=000000"
                                    loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                        </picture>
                        <!-- Text Grouped For Flexbox-->
                        <div class="cs-text-group">
                            <h3 class="cs-h3">Deployment
                            </h3>
                            <p class="cs-item-text">Finally, we launch your site and test it live on the internet.

                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <a href="/appointment" class="cs-button-solid">Book Appointment</a>
    </div>
   
</section>
                                
<!-- ============================================ -->
<!--                   Process                    -->
<!-- ============================================ -->

<!-- <section id="process-688">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">Our Website Development Process</h2>
            <p class="cs-text">
                Website development is vital for creating a functional and engaging online presence that meets business goals. It helps improve visibility, user experience, and conversion rates.            </p>
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fcalender.svg" alt="heart icon" width="42" height="42">
                </picture>
                <h3 class="cs-h3">Discovery</h3>
                <p class="cs-item-text">We start with a call to understand your needs, goals, and solutions.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fchat.svg" alt="toolbox icon" width="42" height="42">
                </picture>
                <h3 class="cs-h3">Quote & Contract</h3>
                <p class="cs-item-text">Receive a detailed quote and sign the contract. Choose between a monthly subscription or a one-time payment.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fmath.svg" alt="ribbon icon" width="32" height="42">
                </picture>
                <h3 class="cs-h3">Design</h3>
                <p class="cs-item-text">We create and refine your custom design in Figma.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fmath.svg" alt="ribbon icon" width="32" height="42">
                </picture>
                <h3 class="cs-h3">Development
                </h3>
                <p class="cs-item-text">Once the design is approved, we code it using Microsoft Visual Studio Code.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fmath.svg" alt="ribbon icon" width="32" height="42">
                </picture>
                <h3 class="cs-h3">Quality Assurance
                </h3>
                <p class="cs-item-text">We test the website locally to ensure it functions perfectly           </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fmath.svg" alt="ribbon icon" width="32" height="42">
                </picture>
                <h3 class="cs-h3">Deployment</h3>
                <p class="cs-item-text">Finally, we launch your site and test it live on the internet</p>
            </li>
        </ul>
    </div>
    SVG Waves -->
    <!-- <img class="cs-background" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fripples.svg" aria-hidden="true" alt="svg waves" width="1280" height="568">
</section> -->
                                




<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-357">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">It’s Easy to Get Started</h2><br><br>
            <p class="cs-text">
                At Bespoke web design, we create professional sites hassle-free, so you can focus on what matters most—your business!
            </p>
        </div>
        <ul class="cs-card-group">
            <!-- Option 1 -->
            <li class="cs-item cs-best">
                <h3 class="cs-h3">STANDARD</h3>
                <p class="cs-item-text">
                    5 PAGES
                </p>
                <div class="cs-option-group">
                    <span class="cs-price">$149<span class="cs-small">/month</span></span>
                </div>
                <span class="cs-included">Package Includes</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        Custom 5-page Business website
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        Responsive design for mobile and desktop
                    </li>
                    <li class="cs-li cs-disabled">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        Hosting included
                    </li>
                    <li class="cs-li cs-disabled">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        Support and Maintenace
                    </li>
                   <br>
                   <br>
                   <br>
                   <br>
                   <br>
                   <br>
                   <br>
                
               
                </ul>
                <a href="/typecontact" class="cs-button-solid">Get Started</a>
            </li>
            <!-- Option 2 -->
            <li class="cs-item cs-popular">
                <h3 class="cs-h3">STANDARD 5 PAGES+ BRAND & IDENTITY PACKAGE</h3>
                <p class="cs-item-text">
                
                </p>
                <div class="cs-option-group">
                    <span class="cs-price">$200<span class="cs-small">/month</span></span>
                </div>
                <span class="cs-included">Package Includes</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        Business Logo
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        Business Card Design: Double-sided with two custom designs.
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        Social Media Covers: for Facebook, LinkedIn, Instagram, and YouTube.
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        Email Signature: Professional and branded.
                    </li>
                    
                    <li class="cs-li cs-disabled">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        Letterhead: Custom design for consistency.
                    </li>
                   
                    <li class="cs-li cs-disabled">
                        <i>All designs will align with and complement your company logo.</i>
                    </li>


                </ul>
                <a href="/typecontact" class="cs-button-solid">Get Started</a>
            </li>
            <!-- Option 3 -->
            <li class="cs-item">
                <h3 class="cs-h3">ADD ONS</h3>
                <p class="cs-item-text">
                    STARTS AT
                </p>
                <div class="cs-option-group">
                    <span class="cs-price">$150<span class="cs-small"></span></span>
                </div>
                <span class="cs-included">Package Includes</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        <span>Additional Page -Starts at  <b> $150 </b> </span>                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        <span>Custom CMS Blog -Starts at  <b> $300 </b> </span>
                        
                    </li>
                    <li class="cs-li">
                        <span><i>Highly Recommended for SEO</i></span>
                        
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        <span>Brand & Identity Package -Starts at <b> $700 </b> </span>
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        <span>Advanced Copywriting  <b> Coming Soon </b> </span>
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=sz8cPVwzLrMP&format=png&color=000000" alt="code stitch icon" width="20" height="20">
                        <span>Custom Request  <b> Call for a Quote </b> </span>
                    </li>
                    <li class="cs-li">
                        <span> </span>
                    </li>
                    <li class="cs-li">
                        <span> </span>
                    </li>
                    <br>
                    <br>
                    <br>
                  
                    
                
                    
                    
                    
                  
                    
                </ul>
                <a href="/typecontact" class="cs-button-solid">Get Started</a>
            </li>
        </ul>
    </div>
</section>
                                






                           

{% include 'components/cta.html'  %}
{% include 'components/chatbot.html' %}
{% endblock %}