---
title: "Bespoke Web Design"
description: "Get superior results with our premium, 100% hand-coded websites. Improve your brand and convert visitors into leads. Starting at just $149/month, our custom sites offer unmatched quality and ongoing support. Explore our services today!"
preloadImg: "/assets/images/bespokelogo1234.png"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
image: /assets/images/blog/ogimage2.png
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<!--          Blaze Assets        -->
<link rel="stylesheet" href="assets/css/blaze.css" />
<script src="assets/js/blaze-slider.dev.js"></script>

<script defer src="/assets/js/scroller.js"></script>

<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-ZMYC44ZRHF"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-ZMYC44ZRHF");
</script>
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{% endblock %} {% block body %}

<!-- Blaze Assets for carousel -->
<link
  rel="stylesheet"
  href="https://unpkg.com/blaze-slider@latest/dist/blaze.css"
/>
<script src="https://unpkg.com/blaze-slider@latest/dist/blaze-slider.dev.js"></script>

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-358">
  <div class="cs-container">
    <div class="cs-flex-group">
      <h1 class="cs-title">
        Elevate your Business! Custom Built Websites for
        <br />
        <span class="cs-changing-text"></span>
      </h1>
      <p class="cs-text">
        Get superior results with our 100% hand-coded websites. No page builders
        or WordPress. Starting at $149/month.
      </p>
      <div class="cs-button-group">
        <form class="cs-form" name="Contact Form" method="post">
          <!-- <input class="cs-input" type="text" id="cs-domain-check" name="find-us" placeholder="Check Domain Availability">
                    <a id="verify-button" href="https://namecheap.pxf.io/Kjov1a" class="cs-button-solid cs-submit cs-domain-check" target="_blank">Verify</a> -->
          <a href="/portfolio/" class="cs-button-solid cs-submit"
            >Our Portfolio</a
          >
          <a
            href="sms:+17802638028?body=Good%20day,%20I%20would%20like%20to%20have%20a%20website%20for%20my%20business"
            class="cs-button-solid cs-submit"
          >
            Let's Talk
          </a>
        </form>
      </div>
    </div>
    <div class="cs-image-group">
      <!-- SVG Paint Splash-->
      <!-- Maid Picture -->
      <!-- To make your own crops of people, use this tool to remove the backgorund of images https://www.remove.bg/ -->
      <picture class="cs-person">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/hero-bg.webp"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/hero-bg.webp"
        />
        <img
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/images/hero-bg.webp"
          alt="maid"
          width="831"
          height="674"
        />
      </picture>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-962">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper"
        >100% Custom Web Design & Development for Edmonton Entrepreneurs</span
      >
      <h3 class="cs-title">OUR SERVICES</h3>
      <br /><br />
      <p class="cs-text">
        We specialize in web design and development for small businesses
        throughout Canada. Our meticulously hand-crafted code ensures top
        performance, enhancing your online presence and increasing your revenue.
        <a href="/about">LEARN MORE</a>
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <a class="cs-item-link" href="">
          <img
            src="https://img.icons8.com/?size=100&id=fUN1LM3gWXOW&format=png&color=000000"
            alt=""
            width="40"
            height="40"
            loading="lazy"
            decoding="async"
            aria-hidden="true"
          />
          <h3 class="cs-h3">Professional Custom Website</h3>
          <p class="cs-item-text">
            Tailored websites built around your vision and business goals, with
            no limitations—handcoded for full flexibility.
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-item-link">
          <img
            src="https://img.icons8.com/?size=100&id=aGVa91FU6Vg8&format=png&color=000000"
            alt=""
            width="40"
            height="40"
            loading="lazy"
            decoding="async"
            aria-hidden="true"
          />
          <h3 class="cs-h3">Brand & Identity Package</h3>
          <p class="cs-item-text">
            Fully custom logos, business cards, social media covers, and assets
            created every month, along with a custom CMS for your blog.
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-item-link">
          <img
            src="https://img.icons8.com/?size=100&id=M3qWtBeOi6ll&format=png&color=000000"
            alt=""
            width="40"
            height="40"
            loading="lazy"
            decoding="async"
            aria-hidden="true"
          />
          <h3 class="cs-h3">Your Tech & Marketing Partner</h3>
          <p class="cs-item-text">
            We provide hosting, ongoing tech support, and create social media
            graphics and marketing materials to help your business grow.
          </p>
        </a>
      </li>
    </ul>
  </div>

  <picture class="cs-background">
    <source media="(max-width: 630px)" srcset="/assets/images/wwd.png" />
    <source media="(min-width: 601px)" srcset="/assets/images/servicess.png" />
    <img
      loading="lazy"
      decoding="async"
      src="/assets/images/servicess.png"
      alt=""
      width="1920"
      height="1200"
      aria-hidden="true"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--            Auto Scroll Brands                -->
<!-- ============================================ -->

<section id="autoscroll-gallery">
  <div class="cs-content">
    <span class="cs-topper">
      Delivering Results for the Finest Local Business Partners
    </span>
    <h2 class="cs-title">Our Trusted Clients</h2>
  </div>
  <div class="scroller">
    <ul class="gallery-wrapper scroller-inner">
      <li style="--brand-rgb: 255, 0, 0">
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/client-logo/benjie-live.avif"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/client-logo/benjie-live.avif"
          />
          <img
            loading="lazy"
            decoding="async"
            src="/assets/images/client-icon/client-logo/benjie-live.avif"
            alt="benji live logo"
            height="80"
            width="160"
          />
        </picture>

        <a
          class="brand-link"
          href="https://benjielindolive.ca/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="brand-name">
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-external-link"
              >
                <path d="M15 3h6v6" />
                <path d="M10 14 21 3" />
                <path
                  d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                /></svg
            ></span>
            benjielindolive.ca
          </div>
        </a>

        <span class="beam"></span>
      </li>

      <li style="--brand-rgb: 208, 105, 40">
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/client-logo/kms.avif"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/client-logo/kms.avif"
          />
          <img
            loading="lazy"
            decoding="async"
            src="/assets/images/client-logo/kms.avif"
            alt="kms logo"
            height="80"
            width="160"
          />
        </picture>

        <a
          class="brand-link"
          href="https://kms-draft.netlify.app/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="brand-name">
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-external-link"
              >
                <path d="M15 3h6v6" />
                <path d="M10 14 21 3" />
                <path
                  d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                /></svg
            ></span>
            <!-- kms-draft.netlify.app -->
          </div>
        </a>

        <span class="beam"></span>
      </li>

      <li style="--brand-rgb: 19, 89, 193">
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/client-logo/mpc.avif"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/client-logo/mpc.avif"
          />
          <img
            loading="lazy"
            decoding="async"
            src="/assets/images/client-logo/mpc.avif"
            alt="mpc logo"
            height="80"
            width="160"
          />
        </picture>

        <a
          class="brand-link"
          href="https://montanoplumbing.ca/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="brand-name">
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-external-link"
              >
                <path d="M15 3h6v6" />
                <path d="M10 14 21 3" />
                <path
                  d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                /></svg
            ></span>
            montanoplumbing.ca
          </div>
        </a>

        <span class="beam"></span>
      </li>

      <li style="--brand-rgb: 254, 222, 15">
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/client-logo/waffle-house.avif"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/client-logo/waffle-house.avif"
          />
          <img
            loading="lazy"
            decoding="async"
            src="/assets/images/client-logo/waffle-house.avif"
            alt="waffle house logo"
            height="80"
            width="160"
          />
        </picture>

        <a
          class="brand-link"
          href="https://wafflehousesherwood.ca/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="brand-name">
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-external-link"
              >
                <path d="M15 3h6v6" />
                <path d="M10 14 21 3" />
                <path
                  d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                /></svg
            ></span>
            wafflehousesherwood.ca
          </div>
        </a>

        <span class="beam"></span>
      </li>

      <li style="--brand-rgb: 66, 160, 208">
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/client-logo/yeg.avif"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/client-logo/yeg.avif"
          />
          <img
            loading="lazy"
            decoding="async"
            src="/assets/images/client-logo/yeg.avif"
            alt="yeg logo"
            height="80"
            width="160"
          />
        </picture>

        <a
          class="brand-link"
          href="https://yegcarpetcleaningservices.ca/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="brand-name">
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-external-link"
              >
                <path d="M15 3h6v6" />
                <path d="M10 14 21 3" />
                <path
                  d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                /></svg
            ></span>
            yegcarpetcleaningservices.ca
          </div>
        </a>

        <span class="beam"></span>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1644">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Choose Us</span>
      <h2 class="cs-title">Why choose Bespoke Web Design?</h2>
      <p class="cs-text"></p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <div class="cs-image-group">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="https://img.icons8.com/?size=100&id=7692&format=png&color=4594F2"
            alt="icon"
            width="48"
            height="48"
            aria-hidden="true"
          />
        </div>
        <div class="cs-flex">
          <h2 class="cs-h2">Hand-Coded for Speed & Performance</h2>
          <p class="cs-item-text">
            Our websites are built from scratch to ensure the fastest loading
            times and best performance. No bloated code or unnecessary plugins.
          </p>
        </div>
      </li>
      <li class="cs-item">
        <div class="cs-image-group">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="https://img.icons8.com/?size=100&id=69184&format=png&color=4594F2"
            alt="icon"
            width="48"
            height="48"
            aria-hidden="true"
          />
        </div>
        <div class="cs-flex">
          <h2 class="cs-h2">100% Custom Design to Fit Your Brand</h2>
          <p class="cs-item-text">
            Designs that capture your business’s values and goals, reflecting
            your unique identity. We also do Brand and Identity Package.
          </p>
        </div>
      </li>
      <li class="cs-item">
        <div class="cs-image-group">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="https://img.icons8.com/?size=100&id=57007&format=png&color=4594F2"
            alt="icon"
            width="48"
            height="48"
            aria-hidden="true"
          />
        </div>
        <div class="cs-flex">
          <h2 class="cs-h2">Affordable Pricing Starting at $149/month</h2>
          <p class="cs-item-text">
            Transparent pricing with no hidden fees. Start with a professional
            website for a monthly fee that fits your budget.
          </p>
        </div>
      </li>
      <li class="cs-item">
        <div class="cs-image-group">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="https://img.icons8.com/?size=100&id=11683&format=png&color=4594F2"
            alt="icon"
            width="48"
            height="48"
            aria-hidden="true"
          />
        </div>
        <div class="cs-flex">
          <h2 class="cs-h2">Ongoing Support & Maintenance Included</h2>
          <p class="cs-item-text">
            We provide continuous support and updates to keep your website
            running smoothly and securely.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-223">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Perks and Benefits</span>
      <h2 class="cs-title">Benefits of Having a Professional Business Site</h2>
      <p class="cs-text"></p>
      <a href="/about" class="cs-button-solid">More About Us</a>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <img
          class="cs-icon"
          loading="lazy"
          decoding="async"
          src="https://img.icons8.com/?size=100&id=gcHk3KXPciim&format=png&color=000000"
          alt="icon"
          width="72"
          height="72"
        />
        <h3 class="cs-h3">Enhanced Credibility</h3>
        <p class="cs-item-text">
          A professional business website enhances your brand's credibility and
          gives a trustworthy impression to clients.
        </p>
      </li>
      <li class="cs-item">
        <img
          class="cs-icon"
          loading="lazy"
          decoding="async"
          src="https://img.icons8.com/?size=100&id=mYqnHc1fapB8&format=png&color=000000"
          alt="icon"
          width="72"
          height="72"
        />
        <h3 class="cs-h3">Increased Visibility</h3>
        <p class="cs-item-text">
          Reach a broader audience and improve your online presence with a
          well-designed website that ranks well in search engines.
        </p>
      </li>
      <li class="cs-item">
        <img
          class="cs-icon"
          loading="lazy"
          decoding="async"
          src="https://img.icons8.com/?size=100&id=34028&format=png&color=000000"
          alt="icon"
          width="72"
          height="72"
        />
        <h3 class="cs-h3">Better Customer Engagement</h3>
        <p class="cs-item-text">
          Engage visitors effectively with an intuitive design that encourages
          interaction and conversion.
        </p>
      </li>
      <li class="cs-item">
        <img
          class="cs-icon"
          loading="lazy"
          decoding="async"
          src="https://img.icons8.com/?size=100&id=114214&format=png&color=000000"
          alt="icon"
          width="72"
          height="72"
        />
        <h3 class="cs-h3">Growth and Scalability</h3>
        <p class="cs-item-text">
          Scale your business effortlessly with a website that can grow
          alongside your company's needs and objectives.
        </p>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1331">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-flex-group">
        <span class="cs-topper">Our Process</span>
        <h2 class="cs-title">We Handle Everything, So You Don’t Have To</h2>
      </div>
      <p class="cs-text">
        Once the contract is signed, we send over a short questionnaire about
        your business and what you offer. From there, we’ll handle the rest:
        we’ll write the content, design the layout, get your feedback, and then
        build your site. The whole process usually takes about 2-3 weeks.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <a href="" class="cs-link">
          <span class="cs-step">Step 1</span>
          <img
            class="cs-step-icon"
            src="/assets/images/questionnaire-icon.png"
          />
          <h3 class="cs-h3">Complete the Questionnaire</h3>
          <p class="cs-item-text">
            We’ll email you a quick survey with fewer than 10 questions about
            your business, services, and what makes you unique. Fill it out, and
            we’ll take it from there.
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <span class="cs-step">Step 2</span>
          <img class="cs-step-icon" src="/assets/images/web-design-icon.png" />
          <h3 class="cs-h3">Review and Approve the Design</h3>
          <p class="cs-item-text">
            We’ll share the initial design draft over a video call, so you can
            see it firsthand. Any adjustments you need, we’ll make to ensure
            it’s exactly what you envision.
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <span class="cs-step">Step 3</span>
          <img class="cs-step-icon" src="/assets/images/coding-icon.png" />
          <h3 class="cs-h3">Development</h3>
          <p class="cs-item-text">
            Once the design is approved, we’ll start building your site. Before
            it goes live, you’ll get a demo link to see the finished product.
            Then, we’re ready to launch!
          </p>
        </a>
      </li>
    </ul>
  </div>
  <picture class="cs-background">
    <!--Mobile Image-->
    <source
      media="(max-width: 600px)"
      srcset="
        https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building-white.jpg
      "
    />
    <!--Tablet and above Image-->
    <source
      media="(min-width: 601px)"
      srcset="
        https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building-white.jpg
      "
    />
    <img
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building-white.jpg"
      alt="building"
      width="1920"
      height="700"
      decoding="async"
      loading="lazy"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

<section id="pricing-1690">
  <div class="cs-container">
    <div id="cs-content-1801">
      <div class="cs-flex">
        <span class="cs-topper">Pricing</span>
        <h3 class="cs-title">It’s Easy to Get Started</h3>
        <p class="cs-text">
          At Bespoke web design, we create professional sites hassle-free, so
          you can focus on what matters most—your business!
        </p>
      </div>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <span class="cs-package">BRAND & IDENTITY PACKAGE</span>
        <ul class="cs-ul">
          <li class="cs-li">
            Includes everything in Standard Package.
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class="cs-li">
            Business Logo - All designs will align with and complement your
            company logo.
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class="cs-li">
            Business Card Design: Double-sided with two custom designs.
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class="cs-li">
            Social Media Covers: for Facebook, LinkedIn, Instagram, and YouTube.
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class="cs-li">
            Email Signature: Professional and branded.
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class="cs-li">
            Letterhead: Custom design for consistency.
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
        </ul>
        <span class="cs-price"
          >$200
          <span class="cs-duration">Per Month</span>
        </span>
        <a href="/contact/" class="cs-link">
          <span class="cs-link-text">Get Started</span>
          <img
            class="cs-arrow"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-arrow-right.svg"
            alt="icon"
            width="20"
            height="20"
            aria-hidden="true"
          />
        </a>
      </li>
      <li class="cs-item cs-popular">
        <span class="cs-package">STANDARD</span>
        <ul class="cs-ul">
          <li class="cs-li">
            Custom 5-page Business website
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class="cs-li">
            Responsive design for mobile and desktop
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class="cs-li">
            Hosting included
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class="cs-li">
            Additional Page - Starts at $150
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class="cs-li">
            Support and Maintenance
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class="cs-li">
            Custom CMS Blog - Starts at $300 (recommended for SEO)
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class="cs-li">
            Custom Request Call for a Quote
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class="cs-li cs-disabled">Advanced Copywriting (Coming Soon)</li>
        </ul>
        <span class="cs-price"
          >$149
          <span class="cs-duration">Per Month</span>
        </span>
        <a href="/contact/" class="cs-link">
          <span class="cs-link-text">Get Started</span>
          <img
            class="cs-arrow"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-arrow-right.svg"
            alt="icon"
            width="20"
            height="20"
            aria-hidden="true"
          />
        </a>
      </li>
      <li class="cs-item">
        <span class="cs-package">LUMP SUM</span>
        <ul class="cs-ul">
          <li class="cs-li">
            Custom 5-page Business website
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class="cs-li">
            $20/mo Hosting
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class="cs-li">
            Additional Page - Starts at $150
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class="cs-li">
            +$75/mo Unlimited Edits Add-on
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class="cs-li">
            Custom CMS Blog - Starts at $300 (recommended for SEO)
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class="cs-li">
            Custom Request Call for a Quote
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-tick.svg"
              alt="checkmark"
              width="18"
              height="18"
            />
          </li>
          <li class="cs-li cs-disabled">Advanced Copywriting (Coming Soon)</li>
        </ul>
        <span class="cs-price"
          >$2000
          <span class="cs-duration">+ $20/month hosting</span>
        </span>
        <a href="/contact/" class="cs-link">
          <span class="cs-link-text">Get Started</span>
          <img
            class="cs-arrow"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-arrow-right.svg"
            alt="icon"
            width="20"
            height="20"
            aria-hidden="true"
          />
        </a>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-1833">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Testimonials</span>
      <h2 class="cs-title">Our Members Testimonials</h2>
    </div>
    <div class="blaze-slider">
      <div class="blaze-container">
        <div class="blaze-track-container">
          <div class="blaze-track">
            <div class="blaze-slide">
              <div class="cs-flex-group">
                <div class="cs-review-group">
                  <!--Stars-->
                  <img
                    class="cs-stars"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/stars-gym.svg"
                    alt="quotes"
                    width="97"
                    height="80"
                    aria-hidden="true"
                  />
                  <p class="cs-review-text">
                    ”My husband and I have been on the market for webdesign for
                    quite awhile before knowing Charles of BeSpoke. We made the
                    right choice in signing up with him! Our small business
                    offers a variety of services and we wanted a website that
                    will showcase it all in a straightforward yet sophisticated
                    fashion. One more good thing to note is that, Charles is
                    responsive and delivers on time. 5 stars all the way!”
                  </p>
                  <span class="cs-name"> Michelle Superales </span>
                  <span class="cs-job">Montano Plumbing & Contracting LTD</span>
                  <!--Quote-->
                  <img
                    class="cs-quote"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-quotes.svg"
                    alt="quotes"
                    width="97"
                    height="80"
                    aria-hidden="true"
                  />
                </div>
              </div>
            </div>
            <div class="blaze-slide">
              <div class="cs-flex-group">
                <div class="cs-review-group">
                  <!--Stars-->
                  <img
                    class="cs-stars"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/stars-gym.svg"
                    alt="quotes"
                    width="97"
                    height="80"
                    aria-hidden="true"
                  />
                  <p class="cs-review-text">
                    ”I highly recommend Bespoke Wed Design Edmonton! Please
                    contact charles… and he will help you with your
                    Business Website!”
                  </p>
                  <span class="cs-name"> Kelvin Canlas </span>
                  <span class="cs-job">YEG Carpet Cleaning Services</span>
                  <!--Quote-->
                  <img
                    class="cs-quote"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-quotes.svg"
                    alt="quotes"
                    width="97"
                    height="80"
                    aria-hidden="true"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blaze-nav">
          <div class="blaze-pagination"></div>
        </div>
      </div>
    </div>
    <script>
      const el = document.querySelector(".blaze-slider");
      new BlazeSlider(el);
    </script>
    <a href="{{ client.google_review }}" class="cs-button-solid" target="_blank"
      >See More Reviews</a
    >
  </div>
  <!--Texture Graphic-->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source
      media="(max-width: 1023px)"
      srcset="
        https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture-m.png
      "
    />
    <!--Tablet and above Image-->
    <source
      media="(min-width: 1024px)"
      srcset="
        https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture.png
      "
    />
    <img
      loading="lazy"
      decoding="async"
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture.png"
      alt="dotted texture"
      width="1920"
      height="600"
    />
  </picture>
</section>

<section id="review-img" class="review-img">
  <div class="cs-container">
    <picture class="cs-picture">
      <source
        media="(max-width: 600px)"
        srcset="/assets/images/google-reviews-logo.webp"
      />
      <source
        media="(min-width: 601px)"
        srcset="/assets/images/google-reviews-logo.webp"
      />
      <img
        aria-hidden="true"
        loading="lazy"
        decoding="async"
        src="/assets/images/google-reviews-logo.webp"
        alt="maid"
        width="831"
        height="674"
        class="cs-img"
      />
    </picture>
  </div>
</section>

{% include 'components/cta.html' %}

<!-- ============================================ -->
<!--                 Shopify CTA                  -->
<!-- ============================================ -->

<section id="cta-403" class="cs-image-only">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Sell Online With Shopify</span>
      <h2 class="cs-title">Ready to Launch Your Online Store?</h2>
      <p class="cs-text">
        Take your business online with ease! Get started with a powerful
        eCommerce platform that’s built for growth. Set up, customize, and
        manage your store—all in one place
      </p>
      <div class="cs-tooltip cs-text">
        Affiliate Disclosure
        <span class="cs-tooltiptext"
          >Some of the links on this website are affiliate links, meaning, at no
          additional cost to you, I may earn a commission if you click through
          and make a purchase. I only recommend products and services that I
          trust and believe will add value to my readers. Your support by using
          these links helps me to continue providing valuable content.</span
        >
      </div>
    </div>
    <a
      href="https://shopify.pxf.io/c/5804036/1499945/13624"
      target="_blank"
      class="affiliate_link cs-small-device-only"
      id="1499945"
      ><img
        src="../../assets/images/shopify-ad-mobile.jpg"
        border="0"
        alt=""
        width="320"
        height="480" /></a
    ><img
      height="0"
      width="0"
      src="https://imp.pxf.io/i/5804036/1499945/13624"
      style="position: absolute; visibility: hidden"
      border="0"
    />
    <a
      href="https://shopify.pxf.io/c/5804036/1499950/13624"
      target="_blank"
      class="affiliate_link cs-medium-device-only"
      id="1499950"
      ><img
        src="../../assets/images/shopify-ad-tablet.jpg"
        border="0"
        alt=""
        width="480"
        height="320" /></a
    ><img
      height="0"
      width="0"
      src="https://imp.pxf.io/i/5804036/1499950/13624"
      style="position: absolute; visibility: hidden"
      border="0"
    />
    <a
      href="https://shopify.pxf.io/c/5804036/1499972/13624"
      target="_blank"
      class="affiliate_link cs-large-device-only"
      id="1499972"
      ><img
        src="../../assets/images/shopify-ad.jpg"
        border="0"
        alt=""
        width="1200"
        height="628" /></a
    ><img
      height="0"
      width="0"
      src="https://imp.pxf.io/i/5804036/1499972/13624"
      style="position: absolute; visibility: hidden"
      border="0"
    />
  </div>
</section>

{% include 'components/chatbot.html' %} {% endblock %}
